img-creation-l3off6J4NHUDBEzP.json
{"createdAt":"2025-10-17T10:23:15.765Z","updatedAt":"2025-10-17T20:10:30.000Z","id":"l3off6J4NHUDBEzP","name":"IMG Creation","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Create & Edit Images","formFields":{"values":[{"fieldType":"html","html":"<div class=\"form-content\">\n    <img class=\"logo-pulse\" src=\"https://lh3.googleusercontent.com/d/1wz9VTIXLaeBmCDupXTU_u8hA7N73HBNl=w1000\" alt=\"AI Image Editor Logo\" width=\"120\" height=\"120\">\n    \n    <h2>📸 AI Photo Editor</h2>\n    \n    <p>Press <strong>Next</strong> to edit your photos</p>\n    \n    <p class=\"footer\">\n        🤖 Powered by Artificial Intelligence<br>\n        🚀 Fast, simple, and inside Telegram\n    </p>\n\n\n<button class=\"next-btn\">Next →</button>\n  \n</div>\n"}]},"options":{"appendAttribution":false,"buttonLabel":"Next","customCss":":root {\n  /* Colores - Tema Oscuro */\n  \n    --color-test-notice-text: #E61E85;\n    --color-test-notice-bg: #1A191C;\n    --color-test-notice-border: #E61E85;\n    --color-card-bg: #1A191C;\n    --color-background: #1A191C;\n    --color-link: #E61E85;\n    --color-header: #E3E3E3;\n    --color-label: #E3E3E3;\n --color-card-border: rgba(255, 255, 255, 0.1);\n    --color-card-shadow: rgba(230, 30, 133, 0.08);\n\n    --color-input-border: rgba(255, 255, 255, 0.1);\n    --color-input-text: #E3E3E3;\n    --color-focus-border: #E61E85;\n    --color-submit-btn-bg: #E61E85;\n    --color-submit-btn-text: #E3E3E3;\n    --color-error: #E53E3E;\n    --color-required: #E61E85;\n    --color-clear-button-bg: #E61E85;\n    --color-html-text: #E3E3E3;\n    --color-html-link: #E61E85;\n    --color-header-subtext: #BFBFBF;\n\n   \n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[0,0],"id":"6708a1d9-a172-43f8-845e-4ad5428f8f97","name":"On form submission","webhookId":"39bab390-4671-4d62-82d3-5aba412ab86f"},{"parameters":{"formFields":{"values":[{"fieldType":"html","html":"{{ $json.html }}"},{"fieldLabel":"={{ $json.labels.sourceImagesLabel }}","fieldType":"file","acceptFileTypes":"png,jpg,jpeg,webp,avif,gif,svg,tiff,bmp"},{"fieldLabel":"={{ $json.labels.dimensionsLabel }}","fieldType":"dropdown","fieldOptions":{"values":[{"option":"1:1"},{"option":"16:9"},{"option":"9:16"},{"option":"4:3"},{"option":"3:4"},{"option":"21:9"},{"option":"2:1"},{"option":"1:2"},{"option":"3:2"},{"option":"2:3"}]},"requiredField":true},{"fieldLabel":"={{ $json.labels.resolutionLabel }}","fieldType":"dropdown","fieldOptions":{"values":[{"option":"HD"},{"option":"Full HD o 1K"},{"option":"2K"},{"option":"4K"}]},"requiredField":true},{"fieldLabel":"={{ $json.labels.promptLabel }}","requiredField":true},{"fieldLabel":"={{ $json.labels.maxImagesLabel }}","fieldType":"dropdown","fieldOptions":{"values":[{"option":"1"},{"option":"2"},{"option":"3"},{"option":"4"},{"option":"5"},{"option":"6"},{"option":"7"},{"option":"8"},{"option":"9"},{"option":"10"},{"option":"11"},{"option":"12"},{"option":"13"},{"option":"14"},{"option":"15"}]},"requiredField":true},{"fieldLabel":"={{ $json.labels.seedLabel }}","fieldType":"number"}]},"limitWaitTime":true,"resumeAmount":5,"resumeUnit":"minutes","options":{"buttonLabel":"={{ $json.labels.createOrEditLabel }}","customCss":":root {\n  /* Colores - Tema Oscuro */\n  \n  --color-test-notice-text: #E61E85;\n  --color-test-notice-bg: #1A191C;\n  --color-test-notice-border: #E61E85;\n  --color-card-bg: #1A191C;\n  --color-background: #1A191C;\n  --color-link: #E61E85;\n  --color-header: #E3E3E3;\n  --color-label: #E3E3E3;\n  --color-card-border: rgba(255, 255, 255, 0.1);\n  --color-card-shadow: rgba(230, 30, 133, 0.08);\n\n  /* --- ESTILO POR DEFECTO PARA TODOS LOS CAMPOS (TEMA OSCURO) --- */\n  --color-input-bg: #0A0A0A;      /* Fondo negro para inputs de texto */\n  --color-select-bg: #0A0A0A;     /* Fondo negro para menús desplegables */\n  --color-textarea-bg: #0A0A0A;   /* Fondo negro para áreas de texto */\n\n  --color-input-border: rgba(255, 255, 255, 0.1);\n  --color-input-text: #FFFFFF;\n  --color-input-placeholder-text: #BFBFBF;\n  \n  --color-focus-border: #E61E85;\n  --color-submit-btn-bg: #E61E85;\n  --color-submit-btn-text: #E3E3E3;\n  --color-error: #E53E3E;\n  --color-required: #E61E85;\n  --color-clear-button-bg: #E61E85;\n  --color-html-text: #E3E3E3;\n  --color-html-link: #E61E85;\n  --color-header-subtext: #BFBFBF;\n}\n\n/* --- REGLA ESPECÍFICA PARA EL BOTÓN \"CHOOSE FILES\" --- */\n/* Esta regla solo afecta al componente de subida de archivos */\n\n/* Aplica el fondo rosado y el borde al área del botón */\n.el-upload {\n  background-color: #E61E85 !important;\n  border-color: rgba(255, 255, 255, 0.2) !important;\n}\n\n/* Asegura que el texto del botón \"Choose Files\" sea blanco */\n.el-upload .el-button {\n  background-color: transparent !important;\n  color: #FFFFFF !important;\n  border: none !important;\n}\n\n/* Opcional: efecto al pasar el ratón sobre el botón */\n.el-upload:hover .el-button {\n  color: #F0F0F0 !important;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[464,0],"id":"0cc8828c-9517-4877-8a68-ea129542f725","name":"Form","webhookId":"0d39db68-b612-48a6-8283-5ecfba509603"},{"parameters":{"jsCode":"// 1. Obtener el idioma desde el input\nconst lang = $input.first().json.formQueryParameters?.lenguaje || 'en';\n\n// 2. Definir todas las traducciones para etiquetas y HTML\nconst translations = {\n  es: {\n    labels: {\n      sourceImagesLabel: \"Imagen(es) de Origen (Source Images)\",\n      maxImagesLabel: \"Número de Imágenes a Generar (max_images)\",\n      dimensionsLabel: \"Dimensiones de la Imagen de Salida (Width & Height)\",\n      resolutionLabel: \"Resolución\",\n      promptLabel: \"Instrucciones de Edición (Prompt)\",\n      seedLabel: \"Semilla (Seed) - Opcional\",\n      createOrEditLabel: \"Crear o Editar Imagen\" // <-- NUEVA ETIQUETA AÑADIDA\n    },\n    html: `<div class=\"info-container\">\n      <h3>📋 Datos Necesarios para Editar</h3>\n      <p>Para procesar tu solicitud, necesitas proporcionar lo siguiente:</p>\n      <ul>\n        <li><strong>Imagen(es) de Origen:</strong> La(s) foto(s) que quieres editar.</li>\n        <li><strong>Número de Imágenes a Generar:</strong> Cuántas imágenes nuevas quieres crear (ej: 4).</li>\n        <li><strong>Dimensiones de Salida:</strong> El ancho y alto de la imagen final (ej: 1024 x 768).</li>\n        <li><strong>Instrucciones de Edición (Prompt):</strong> Una descripción detallada de lo que quieres hacer.</li>\n        <li><strong>Semilla (Seed) - Opcional:</strong> Un número para obtener resultados consistentes.</li>\n      </ul>\n      <p><em>Si no proporcionas una imagen de origen, se creará una nueva desde cero basándose en tus instrucciones.</em></p>\n    </div>`\n  },\n  en: {\n    labels: {\n      sourceImagesLabel: \"Source Image(s)\",\n      maxImagesLabel: \"Number of Images to Generate (max_images)\",\n      dimensionsLabel: \"Output Image Dimensions (Width & Height)\",\n      resolutionLabel: \"Resolution\",\n      promptLabel: \"Editing Instructions (Prompt)\",\n      seedLabel: \"Seed - Optional\",\n      createOrEditLabel: \"Create or Edit Image\" // <-- NUEVA ETIQUETA AÑADIDA\n    },\n    html: `<div class=\"info-container\">\n      <h3>📋 Data Required for Editing</h3>\n      <p>To process your request, you need to provide the following:</p>\n      <ul>\n        <li><strong>Source Image(s):</strong> The photo(s) you want to edit.</li>\n        <li><strong>Number of Images to Generate:</strong> How many new images you want to create (e.g., 4).</li>\n        <li><strong>Output Dimensions:</strong> The width and height of the final image (e.g., 1024 x 768).</li>\n        <li><strong>Editing Instructions (Prompt):</strong> A detailed description of what you want to do.</li>\n        <li><strong>Seed - Optional:</strong> A number to get consistent results.</li>\n      </ul>\n      <p><em>If you don't provide a source image, a new one will be generated from scratch based on your instructions.</em></p>\n    </div>`\n  },\n  // --- NOTE: The following translations are AI-generated and should be reviewed by a native speaker. ---\n  ru: {\n    labels: {\n      sourceImagesLabel: \"Исходное изображение(я)\",\n      maxImagesLabel: \"Количество изображений для генерации (max_images)\",\n      dimensionsLabel: \"Размеры выходного изображения (ширина и высота)\",\n      resolutionLabel: \"Разрешение\",\n      promptLabel: \"Инструкции по редактированию (Prompt)\",\n      seedLabel: \"Зерно (Seed) - Опционально\",\n      createOrEditLabel: \"Создать или Редактировать Изображение\" // <-- NUEVA ETIQUETA AÑADIDA\n    },\n    html: `<div class=\"info-container\">\n      <h3>📋 Необходимые данные для редактирования</h3>\n      <p>Для обработки вашего запроса необходимо предоставить следующее:</p>\n      <ul>\n        <li><strong>Исходное изображение(я):</strong> Фотография(и), которую(ые) вы хотите отредактировать.</li>\n        <li><strong>Количество изображений для генерации:</strong> Сколько новых изображений вы хотите создать (например, 4).</li>\n        <li><strong>Выходные размеры:</strong> Ширина и высота конечного изображения (например, 1024 x 768).</li>\n        <li><strong>Инструкции по редактированию (Prompt):</strong> Подробное описание того, что вы хотите сделать.</li>\n        <li><strong>Зерно (Seed) - Опционально:</strong> Число для получения согласованных результатов.</li>\n      </ul>\n      <p><em>Если вы не предоставите исходное изображение, новое будет создано с нуля на основе ваших инструкций.</em></p>\n    </div>`\n  },\n  hi: {\n    labels: {\n      sourceImagesLabel: \"स्रोत छवि(एँ)\",\n      maxImagesLabel: \"उत्पन्न करने के लिए छवियों की संख्या (max_images)\",\n      dimensionsLabel: \"आउटपुट छवि के आयाम (चौड़ाई और ऊँचाई)\",\n      resolutionLabel: \"रिज़ॉल्यूशन\",\n      promptLabel: \"संपादन निर्देश (Prompt)\",\n      seedLabel: \"बीज (Seed) - वैकल्पिक\",\n      createOrEditLabel: \"इमेज बनाएं या संपादित करें\" // <-- NUEVA ETIQUETA AÑADIDA\n    },\n    html: `<div class=\"info-container\">\n      <h3>📋 संपादन के लिए आवश्यक डेटा</h3>\n      <p>आपके अनुरोध को संसाधित करने के लिए, आपको निम्नलिखित प्रदान करना होगा:</p>\n      <ul>\n        <li><strong>स्रोत छवि(एँ):</strong> वह फोटो(ओं) जिसे आप संपादित करना चाहते हैं।</li>\n        <li><strong>उत्पन्न करने के लिए छवियों की संख्या:</strong> आप कितनी नई छवियाँ बनाना चाहते हैं (उदा.: 4)।</li>\n        <li><strong>आउटपुट आयाम:</strong> अंतिम छवि की चौड़ाई और ऊँचाई (उदा.: 1024 x 768)।</li>\n        <li><strong>संपादन निर्देश (Prompt):</strong> आप क्या करना चाहते हैं, इसका एक विस्तृत विवरण।</li>\n        <li><strong>बीज (Seed) - वैकल्पिक:</strong> लगातार परिणाम प्राप्त करने के लिए एक संख्या।</li>\n      </ul>\n      <p><em>यदि आप कोई स्रोत छवि प्रदान नहीं करते हैं, तो आपके निर्देशों के आधार पर एक नई छवि शून्य से बनाई जाएगी।</em></p>\n    </div>`\n  },\n  id: {\n    labels: {\n      sourceImagesLabel: \"Gambar Sumber\",\n      maxImagesLabel: \"Jumlah Gambar yang Akan Dihasilkan (max_images)\",\n      dimensionsLabel: \"Dimensi Gambar Output (Lebar & Tinggi)\",\n      resolutionLabel: \"Resolusi\",\n      promptLabel: \"Instruksi Editing (Prompt)\",\n      seedLabel: \"Seed - Opsional\",\n      createOrEditLabel: \"Buat atau Edit Gambar\" // <-- NUEVA ETIQUETA AÑADIDA\n    },\n    html: `<div class=\"info-container\">\n      <h3>📋 Data yang Diperlukan untuk Editing</h3>\n      <p>Untuk memproses permintaan Anda, Anda perlu memberikan hal berikut:</p>\n      <ul>\n        <li><strong>Gambar Sumber:</strong> Foto yang ingin Anda edit.</li>\n        <li><strong>Jumlah Gambar yang Akan Dihasilkan:</strong> Berapa banyak gambar baru yang ingin Anda buat (mis: 4).</li>\n        <li><strong>Dimensi Output:</strong> Lebar dan tinggi gambar akhir (mis: 1024 x 768).</li>\n        <li><strong>Instruksi Editing (Prompt):</strong> Deskripsi detail tentang apa yang ingin Anda lakukan.</li>\n        <li><strong>Seed - Opsional:</strong> Angka untuk mendapatkan hasil yang konsisten.</li>\n      </ul>\n      <p><em>Jika Anda tidak memberikan gambar sumber, yang baru akan dibuat dari awal berdasarkan instruksi Anda.</em></p>\n    </div>`\n  },\n  pt: {\n    labels: {\n      sourceImagesLabel: \"Imagem(ns) de Origem\",\n      maxImagesLabel: \"Número de Imagens a Gerar (max_images)\",\n      dimensionsLabel: \"Dimensões da Imagem de Saída (Largura & Altura)\",\n      resolutionLabel: \"Resolução\",\n      promptLabel: \"Instruções de Edição (Prompt)\",\n      seedLabel: \"Seed - Opcional\",\n      createOrEditLabel: \"Criar ou Editar Imagem\" // <-- NUEVA ETIQUETA AÑADIDA\n    },\n    html: `<div class=\"info-container\">\n      <h3>📋 Dados Necessários para Editar</h3>\n      <p>Para processar sua solicitação, você precisa fornecer o seguinte:</p>\n      <ul>\n        <li><strong>Imagem(ns) de Origem:</strong> A(s) foto(s) que você deseja editar.</li>\n        <li><strong>Número de Imagens a Gerar:</strong> Quantas novas imagens você deseja criar (ex: 4).</li>\n        <li><strong>Dimensões de Saída:</strong> A largura e altura da imagem final (ex: 1024 x 768).</li>\n        <li><strong>Instruções de Edição (Prompt):</strong> Uma descrição detalhada do que você deseja fazer.</li>\n        <li><strong>Seed - Opcional:</strong> Um número para obter resultados consistentes.</li>\n      </ul>\n      <p><em>Se você não fornecer uma imagem de origem, uma nova será gerada do zero com base em suas instruções.</em></p>\n    </div>`\n  },\n  uk: {\n    labels: {\n      sourceImagesLabel: \"Вихідне зображення(я)\",\n      maxImagesLabel: \"Кількість зображень для генерації (max_images)\",\n      dimensionsLabel: \"Розміри вихідного зображення (ширина та висота)\",\n      resolutionLabel: \"Роздільна здатність\",\n      promptLabel: \"Інструкції для редагування (Prompt)\",\n      seedLabel: \"Зерно (Seed) - Необов'язково\",\n      createOrEditLabel: \"Створити або Редагувати Зображення\" // <-- NUEVA ETIQUETA AÑADIDA\n    },\n    html: `<div class=\"info-container\">\n      <h3>📋 Необхідні дані для редагування</h3>\n      <p>Для обробки вашого запиту потрібно надати наступне:</p>\n      <ul>\n        <li><strong>Вихідне зображення(я):</strong> Фото(графії), які ви хочете відредагувати.</li>\n        <li><strong>Кількість зображень для генерації:</strong> Скільки нових зображень ви хочете створити (напр., 4).</li>\n        <li><strong>Вихідні розміри:</strong> Ширина і висота кінцевого зображення (напр., 1024 x 768).</li>\n        <li><strong>Інструкції для редагування (Prompt):</strong> Детальний опис того, що ви хочете зробити.</li>\n        <li><strong>Зерно (Seed) - Необов'язково:</strong> Число для отримання узгоджених результатів.</li>\n      </ul>\n      <p><em>Якщо ви не надасте вихідне зображення, нове буде створено з нуля на основі ваших інструкцій.</em></p>\n    </div>`\n  }\n};\n\n// 3. Seleccionar el idioma correcto, usando 'en' como fallback\nconst selectedTranslation = translations[lang] || translations['en'];\n\n// 4. Devolver el resultado en el formato esperado por n8n\nreturn [{\n  json: {\n    labels: selectedTranslation.labels,\n    html: selectedTranslation.html,\n    language: lang\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"d8a2de46-cfcb-489a-9ec7-79712d60771a","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7cdd423a-13b3-4f53-97ac-e2a78d3013cd","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,0],"id":"82cb2b9e-8446-4285-bdfc-fa91d9e09b03","name":"If"}],"connections":{"On form submission":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Form","type":"main","index":0}]]},"Form":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission":[{"json":{"submittedAt":"2025-10-17T21:09:12.600+02:00","formMode":"production","formQueryParameters":{"id":"852169805","name":"Tkeyfff","username":"Tkeyfff","lenguaje":"es"}}}]},"versionId":"ee186f98-8c57-407d-894a-e711d11340b3","triggerCount":1,"shared":[{"createdAt":"2025-10-17T10:23:15.769Z","updatedAt":"2025-10-17T10:23:15.769Z","role":"workflow:owner","workflowId":"l3off6J4NHUDBEzP","projectId":"j0ScW9j43X1fRnX4"}],"tags":[{"createdAt":"2025-10-16T02:53:29.528Z","updatedAt":"2025-10-16T02:53:29.528Z","id":"IzGuv7pXIwpiJAEL","name":"Unimgai"}]}