terms-and-conditions-MPVSuBBbYaUPNmpZ.json
{"createdAt":"2025-10-17T20:17:11.253Z","updatedAt":"2025-10-20T17:59:03.000Z","id":"MPVSuBBbYaUPNmpZ","name":"terms and conditions","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"71a93ff3-2453-46c6-be4e-2865af10d1e5","responseMode":"responseNode","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-176,-32],"id":"3be6141f-08e7-4705-bdf1-a2dc1a647be9","name":"Webhook","webhookId":"71a93ff3-2453-46c6-be4e-2865af10d1e5"},{"parameters":{"httpMethod":"POST","path":"71a93ff3-2453-46c6-be4e-2865af10d1e5","responseMode":"responseNode","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-176,416],"id":"2ed03364-bf8c-420e-9a17-059af949ef49","name":"Webhook1","webhookId":"71a93ff3-2453-46c6-be4e-2865af10d1e5"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1168,416],"id":"6efe29a9-8460-4722-b0da-c45b1bf8b741","name":"Respond to Webhook1"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"8oKrDcp5sczgB30J","mode":"list","cachedResultName":"User","cachedResultUrl":"/projects/j0ScW9j43X1fRnX4/datatables/8oKrDcp5sczgB30J"},"filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $('Webhook1').item.json.query.user_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"terms_and_conditions":true},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"total_loaded","displayName":"total_loaded","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"referred_by","displayName":"referred_by","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"referrals_made","displayName":"referrals_made","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_upload_date","displayName":"last_upload_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"last_use_date","displayName":"last_use_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"last_reward","displayName":"last_reward","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"terms_and_conditions","displayName":"terms_and_conditions","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[272,416],"id":"f96d2b04-b6da-4e30-9c4b-86d1a0c3e780","name":"Upsert row(s)"},{"parameters":{"chatId":"={{ $('Upsert row(s)').item.json.user_id }}","text":"={{ $json.message }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[0][0].text }}","additionalFields":{"web_app":{"url":"={{ $json.reply_markup.inline_keyboard[0][0].url }}"}}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,416],"id":"e3bde338-39e4-4254-9182-d4737d296a25","name":"Send a text message1","webhookId":"51819ef7-36d6-430c-a804-df2e09a15f42","credentials":{"telegramApi":{"id":"RLtHIAtvKXctIbUJ","name":"Telegram account"}}},{"parameters":{"jsCode":"// 1. Obtener los datos directamente desde el nodo 'Webhook1' como solicitaste\nconst webhookData = $('Webhook1').first().json;\n\n// --- EXTRAER DATOS DESDE WEBDATA ---\nconst username = webhookData.body?.username || 'unknown';\nconst lang = webhookData.body?.lang || 'en';\nconst userId = webhookData.query?.user_id || 'unknown_id';\nconst firstName = username || 'there';\n\n// 2. Definir los mensajes de bienvenida\nconst welcomeMessages = {\n  es: `<b>¡Bienvenido a unimgai! 🎉</b>\\n\\nEs el momento de empezar a disfrutar de la edición de imágenes y la creación de videos con IA.`,\n  en: `<b>Welcome to unimgai! 🎉</b>\\n\\nIt's time to start enjoying image editing and video creation powered by AI.`,\n  ru: `<b>Добро пожаловать в unimgai! 🎉</b>\\n\\nПора начать наслаждаться редактированием изображений и созданием видео с помощью ИИ.`,\n  hi: `<b>unimgai में आपका स्वागत है! 🎉</b>\\n\\nअब AI के साथ छवि संपादन और वीडियो निर्माण का आनंद लेने का समय है।`,\n  id: `<b>Selamat datang di unimgai! 🎉</b>\\n\\nSaatnya mulai menikmati pengeditan gambar dan pembuatan video yang didukung oleh AI.`,\n  pt: `<b>Bem-vindo ao unimgai! 🎉</b>\\n\\nHora de começar a desfrutar da edição de imagens e criação de vídeos com tecnologia de IA.`,\n  uk: `<b>Ласкаво просимо до unimgai! 🎉</b>\\n\\nЧас почати насолоджуватися редагуванням зображень та створенням відео за допомогою ШІ.`\n};\n\n// 3. Definir los mensajes de referidos (MEJORADO)\nconst referralMessages = {\n  es: `<b><u>🎁 ¡Invita y gana UnimgAI Starts!</u></b>\\n\\nComparte tu enlace y recibe <b>10 Starts gratis</b> por cada amigo que se una. ¡Tu amigo también recibirá 10 Starts al registrarse!`,\n  en: `<b><u>🎁 Invite & Earn UnimgAI Starts!</u></b>\\n\\nShare your link and get <b>10 free Starts</b> for each friend who joins. Your friend will also get 10 Starts upon signing up!`,\n  ru: `<b><u>🎁 Приглашай и получай UnimgAI Starts!</u></b>\\n\\nПоделись своей ссылкой и получи <b>10 бесплатных Starts</b> за каждого друга, который присоединится. Твой друг также получит 10 Starts при регистрации!`,\n  hi: `<b><u>🎁 दोस्तों को आमंत्रित करें और UnimgAI Starts कमाएं!</u></b>\\n\\nअपना लिंक साझा करें और हर उस दोस्त के लिए <b>10 मुफ़्त Starts</b> प्राप्त करें जो जुड़ता है। आपके दोस्त को भी साइन अप करने पर 10 Starts मिलेंगे!`,\n  id: `<b><u>🎁 Ajak Teman & Dapatkan UnimgAI Starts!</u></b>\\n\\nBagikan tautanmu dan dapatkan <b>10 Starts gratis</b> untuk setiap teman yang bergabung. Temanmu juga akan mendapatkan 10 Starts saat mendaftar!`,\n  pt: `<b><u>🎁 Convide e ganhe UnimgAI Starts!</u></b>\\n\\nCompartilhe seu link e ganhe <b>10 Starts gratuitos</b> para cada amigo que se juntar. Seu amigo também receberá 10 Starts ao se cadastrar!`,\n  uk: `<b><u>🎁 Запрошуй та отримуй UnimgAI Starts!</u></b>\\n\\nПоділися своїм посиланням та отримуй <b>10 безкоштовних Starts</b> за кожного друга, який приєднається. Твій друг також отримає 10 Starts при реєстрації!`\n};\n\n// 4. Definir textos de la interfaz (compartir)\nconst uiTexts = {\n  es: { shareText: \"💫 Compartir unimgai con tus amigos\" },\n  en: { shareText: \"💫 Share unimgai with your friends\" },\n  ru: { shareText: \"💫 Поделиться unimgai с друзьями\" },\n  hi: { shareText: \"💫 अपने दोस्तों के साथ unimgai साझा करें\" },\n  id: { shareText: \"💫 Bagikan unimgai ke temanmu\" },\n  pt: { shareText: \"💫 Compartilhe unimgai com seus amigos\" },\n  uk: { shareText: \"💫 Поділитися unimgai з друзями\" }\n};\n\n// 5. Generar enlaces de referido\nconst referralLink = `https://t.me/unimgai_bot?start=ref_${username}`;\nconst shareText = '🚀 Try unimgai — AI Image Editor on Telegram! Edit, enhance, and transform your photos with AI!';\nconst shareLink = `https://t.me/share/url?url=${encodeURIComponent(referralLink)}&text=${encodeURIComponent(shareText)}`;\n\n// 6. Construir la URL dinámicamente con los datos del usuario\nconst baseUrl = 'https://mumbai-sampling-conflicts-forest.trycloudflare.com/webhook/2e2e62ee-3551-4233-b140-0a8322d98ae6';\nconst params = {\n  user_id: userId,\n  username: username,\n  lang: lang\n};\n\n// Función para construir la cadena de consulta (query string)\nconst buildQueryString = (obj) => {\n  return Object.keys(obj)\n    .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(obj[key])}`)\n    .join('&');\n};\n\nconst queryString = buildQueryString(params);\nconst singleLink = `${baseUrl}?${queryString}`;\n\nconst singleButtonLabel = 'UnimgAI ⌘';\n\n// 7. Seleccionar contenido según el idioma\nconst welcomeMessage = welcomeMessages[lang] || welcomeMessages['en'];\nconst referralMessage = referralMessages[lang] || referralMessages['en'];\nconst ui = uiTexts[lang] || uiTexts['en'];\n\n// 8. Construir el mensaje final\nconst fullMessage = `${welcomeMessage}\\n\\n${referralMessage}\\n\\n<a href=\"${shareLink}\">${ui.shareText}</a>`;\n\n// 9. Crear el teclado en línea con el único botón\nconst replyMarkup = {\n  inline_keyboard: [[\n    { text: singleButtonLabel, url: singleLink }\n  ]]\n};\n\n// 10. Retornar todo en un solo JSON\nreturn [{\n  json: {\n    message: fullMessage,\n    link: singleLink,\n    buttonLabel: singleButtonLabel,\n    reply_markup: replyMarkup,\n    firstName,\n    username,\n    language: lang\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,416],"id":"cc211d9b-3102-462f-9c4d-c0e411e1f04e","name":"Code in JavaScript3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10c127e2-cd14-473f-8aec-f5f178f6117e","leftValue":"={{ $json.body.accepted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,416],"id":"15866f92-117d-487e-9b9b-80bf85b5d1d5","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"f0e5b6c5-6d1f-40a8-a944-6b44b44d8170","name":"body","value":"={{ $('Webhook1').item.json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,416],"id":"3080947b-0234-4dbc-b1ba-93d554ef1fd3","name":"Edit Fields1"},{"parameters":{"respondWith":"text","responseBody":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>unimgai - Terms & Conditions</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        :root {\n            --bg-primary: #0F0E11;\n            --text-primary: #E3E3E3;\n            --color-primary: #E61E85;\n            --color-secondary: #0F2D5C;\n            --surface: #1A191C;\n            --text-muted: #BFBFBF;\n        }\n\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;\n            background: linear-gradient(135deg, var(--bg-primary) 0%, #1a1a1f 100%);\n            color: var(--text-primary);\n            min-height: 100vh;\n            overflow-x: hidden;\n            position: relative;\n        }\n\n        /* Animated background lights */\n        .particles {\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            pointer-events: none;\n            z-index: 1;\n            overflow: hidden;\n        }\n\n        .diffused-light {\n            position: absolute;\n            border-radius: 50%;\n            filter: blur(60px);\n            opacity: 0.15;\n            animation: floatLight 20s infinite ease-in-out;\n        }\n\n        .diffused-light.small {\n            width: 150px;\n            height: 150px;\n        }\n\n        .diffused-light.medium {\n            width: 250px;\n            height: 250px;\n        }\n\n        .diffused-light.large {\n            width: 350px;\n            height: 350px;\n        }\n\n        @keyframes floatLight {\n            0%, 100% {\n                transform: translate(0, 0) scale(1);\n                opacity: 0.1;\n            }\n            25% {\n                transform: translate(150px, -80px) scale(1.2);\n                opacity: 0.2;\n            }\n            50% {\n                transform: translate(-100px, 120px) scale(0.8);\n                opacity: 0.15;\n            }\n            75% {\n                transform: translate(80px, 60px) scale(1.1);\n                opacity: 0.25;\n            }\n        }\n\n        /* Loading screen */\n        .loading-screen {\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: var(--bg-primary);\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            z-index: 1000;\n            transition: opacity 0.8s ease, visibility 0.8s ease;\n        }\n\n        .loading-screen.hidden {\n            opacity: 0;\n            visibility: hidden;\n        }\n\n        .logo-loader {\n            width: 120px;\n            height: 120px;\n            position: relative;\n            animation: logoFloat 4s ease-in-out infinite;\n        }\n\n        .logo-loader img {\n            width: 100%;\n            height: 100%;\n            object-fit: cover;\n            border-radius: 50%;\n            filter: drop-shadow(0 0 30px rgba(230, 30, 133, 0.6));\n            animation: logoGlow 3s ease-in-out infinite alternate;\n        }\n\n        @keyframes logoFloat {\n            0%, 100% {\n                transform: translateY(0px) rotate(0deg);\n            }\n            25% {\n                transform: translateY(-10px) rotate(5deg);\n            }\n            50% {\n                transform: translateY(0px) rotate(0deg);\n            }\n            75% {\n                transform: translateY(-5px) rotate(-5deg);\n            }\n        }\n\n        @keyframes logoGlow {\n            0% {\n                filter: drop-shadow(0 0 20px rgba(230, 30, 133, 0.4));\n            }\n            100% {\n                filter: drop-shadow(0 0 40px rgba(230, 30, 133, 0.8));\n            }\n        }\n\n        .loading-text {\n            margin-top: 30px;\n            font-size: 18px;\n            color: var(--text-muted);\n            animation: pulse 1.5s ease-in-out infinite;\n        }\n\n        @keyframes pulse {\n            0%, 100% {\n                opacity: 0.5;\n            }\n            50% {\n                opacity: 1;\n            }\n        }\n\n        /* Main container */\n        .container {\n            max-width: 800px;\n            margin: 0 auto;\n            padding: 20px;\n            position: relative;\n            z-index: 10;\n            opacity: 0;\n            animation: fadeInUp 1s ease 0.5s forwards;\n        }\n\n        @keyframes fadeInUp {\n            from {\n                opacity: 0;\n                transform: translateY(30px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        /* Header */\n        .header {\n            text-align: center;\n            margin-bottom: 40px;\n            animation: slideDown 1s ease 0.7s both;\n        }\n\n        @keyframes slideDown {\n            from {\n                opacity: 0;\n                transform: translateY(-20px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        .logo {\n            width: 80px;\n            height: 80px;\n            margin: 0 auto 20px;\n            position: relative;\n            animation: mainLogoFloat 6s ease-in-out infinite;\n        }\n\n        .logo img {\n            width: 100%;\n            height: 100%;\n            object-fit: cover;\n            border-radius: 50%;\n            filter: drop-shadow(0 0 25px rgba(230, 30, 133, 0.5));\n            animation: mainLogoGlow 4s ease-in-out infinite alternate;\n            transition: transform 0.3s ease;\n        }\n\n        .logo:hover img {\n            transform: scale(1.1);\n        }\n\n        @keyframes mainLogoFloat {\n            0%, 100% {\n                transform: translateY(0px) rotate(0deg);\n            }\n            25% {\n                transform: translateY(-8px) rotate(3deg);\n            }\n            50% {\n                transform: translateY(0px) rotate(0deg);\n            }\n            75% {\n                transform: translateY(-4px) rotate(-3deg);\n            }\n        }\n\n        @keyframes mainLogoGlow {\n            0% {\n                filter: drop-shadow(0 0 15px rgba(230, 30, 133, 0.3));\n            }\n            100% {\n                filter: drop-shadow(0 0 35px rgba(230, 30, 133, 0.7));\n            }\n        }\n\n        .welcome-message {\n            font-size: 24px;\n            font-weight: 300;\n            margin-bottom: 10px;\n            background: linear-gradient(135deg, var(--text-primary), var(--color-primary));\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        /* Terms container */\n        .terms-container {\n            background: rgba(26, 25, 28, 0.8);\n            backdrop-filter: blur(10px);\n            border-radius: 20px;\n            padding: 30px;\n            border: 1px solid rgba(230, 30, 133, 0.2);\n            box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);\n            animation: slideUp 1s ease 0.9s both;\n        }\n\n        @keyframes slideUp {\n            from {\n                opacity: 0;\n                transform: translateY(20px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        .terms-title {\n            font-size: 28px;\n            font-weight: 600;\n            margin-bottom: 10px;\n            color: var(--color-primary);\n            text-align: center;\n        }\n\n        .last-updated {\n            text-align: center;\n            color: var(--text-muted);\n            margin-bottom: 30px;\n            font-size: 14px;\n        }\n\n        .section {\n            margin-bottom: 25px;\n            opacity: 0;\n            animation: fadeIn 0.8s ease forwards;\n        }\n\n        .section:nth-child(1) { animation-delay: 1.1s; }\n        .section:nth-child(2) { animation-delay: 1.2s; }\n        .section:nth-child(3) { animation-delay: 1.3s; }\n        .section:nth-child(4) { animation-delay: 1.4s; }\n        .section:nth-child(5) { animation-delay: 1.5s; }\n        .section:nth-child(6) { animation-delay: 1.6s; }\n        .section:nth-child(7) { animation-delay: 1.7s; }\n        .section:nth-child(8) { animation-delay: 1.8s; }\n\n        @keyframes fadeIn {\n            to {\n                opacity: 1;\n            }\n        }\n\n        .section-title {\n            font-size: 20px;\n            font-weight: 600;\n            margin-bottom: 10px;\n            color: var(--text-primary);\n            display: flex;\n            align-items: center;\n        }\n\n        .section-title::before {\n            content: '';\n            width: 4px;\n            height: 20px;\n            background: var(--color-primary);\n            margin-right: 10px;\n            border-radius: 2px;\n        }\n\n        .section-text {\n            line-height: 1.6;\n            color: var(--text-muted);\n        }\n\n        .section-text ul {\n            margin: 10px 0;\n            padding-left: 20px;\n        }\n\n        .section-text li {\n            margin-bottom: 5px;\n        }\n\n        .section-text strong {\n            color: var(--text-primary);\n        }\n\n        /* Buttons */\n        .buttons-container {\n            display: flex;\n            gap: 20px;\n            justify-content: center;\n            margin-top: 40px;\n            animation: fadeIn 1s ease 2s both;\n        }\n\n        .btn {\n            padding: 15px 40px;\n            border: none;\n            border-radius: 50px;\n            font-size: 16px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: all 0.3s ease;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .btn::before {\n            content: '';\n            position: absolute;\n            top: 50%;\n            left: 50%;\n            width: 0;\n            height: 0;\n            border-radius: 50%;\n            background: rgba(255, 255, 255, 0.1);\n            transform: translate(-50%, -50%);\n            transition: width 0.6s ease, height 0.6s ease;\n        }\n\n        .btn:hover::before {\n            width: 300px;\n            height: 300px;\n        }\n\n        .btn-accept {\n            background: linear-gradient(135deg, var(--color-primary), #ff4081);\n            color: white;\n            box-shadow: 0 10px 30px rgba(230, 30, 133, 0.3);\n        }\n\n        .btn-accept:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 15px 40px rgba(230, 30, 133, 0.4);\n        }\n\n        .btn-decline {\n            background: transparent;\n            color: var(--text-muted);\n            border: 2px solid var(--text-muted);\n        }\n\n        .btn-decline:hover {\n            background: rgba(191, 191, 191, 0.1);\n            border-color: var(--color-primary);\n            color: var(--color-primary);\n            transform: translateY(-2px);\n        }\n\n        /* Response message */\n        .response-message {\n            position: fixed;\n            top: 50%;\n            left: 50%;\n            transform: translate(-50%, -50%);\n            background: var(--surface);\n            padding: 40px;\n            border-radius: 20px;\n            border: 2px solid var(--color-primary);\n            box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);\n            text-align: center;\n            z-index: 100;\n            display: none;\n            max-width: 500px;\n            width: 90%;\n        }\n\n        .response-message.show {\n            display: block;\n            animation: bounceIn 0.6s ease;\n        }\n\n        @keyframes bounceIn {\n            0% {\n                opacity: 0;\n                transform: translate(-50%, -50%) scale(0.3);\n            }\n            50% {\n                opacity: 1;\n                transform: translate(-50%, -50%) scale(1.05);\n            }\n            100% {\n                transform: translate(-50%, -50%) scale(1);\n            }\n        }\n\n        .response-title {\n            font-size: 24px;\n            font-weight: 600;\n            margin-bottom: 20px;\n            color: var(--color-primary);\n        }\n\n        .response-text {\n            line-height: 1.6;\n            color: var(--text-muted);\n            margin-bottom: 30px;\n        }\n\n        .close-btn {\n            background: var(--color-primary);\n            color: white;\n            border: none;\n            padding: 12px 30px;\n            border-radius: 25px;\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 600;\n            transition: all 0.3s ease;\n        }\n\n        .close-btn:hover {\n            transform: scale(1.05);\n            box-shadow: 0 10px 30px rgba(230, 30, 133, 0.3);\n        }\n\n        /* Loading spinner */\n        .spinner {\n            display: none;\n            width: 40px;\n            height: 40px;\n            border: 4px solid rgba(230, 30, 133, 0.1);\n            border-top: 4px solid var(--color-primary);\n            border-radius: 50%;\n            animation: spin 1s linear infinite;\n            margin: 20px auto;\n        }\n\n        .spinner.show {\n            display: block;\n        }\n\n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n\n        /* Responsive */\n        @media (max-width: 768px) {\n            .container {\n                padding: 15px;\n            }\n\n            .terms-container {\n                padding: 20px;\n            }\n\n            .buttons-container {\n                flex-direction: column;\n                align-items: center;\n            }\n\n            .btn {\n                width: 200px;\n            }\n\n            .welcome-message {\n                font-size: 20px;\n            }\n\n            .terms-title {\n                font-size: 24px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <!-- Loading Screen -->\n    <div class=\"loading-screen\" id=\"loadingScreen\">\n        <div class=\"logo-loader\">\n            <img src=\"https://lh3.googleusercontent.com/d/1wz9VTIXLaeBmCDupXTU_u8hA7N73HBNl=w1000\" alt=\"unimgai\">\n        </div>\n        <div class=\"loading-text\">Loading unimgai...</div>\n    </div>\n\n    <!-- Particles Background -->\n    <div class=\"particles\" id=\"particles\"></div>\n\n    <!-- Main Container -->\n    <div class=\"container\">\n        <header class=\"header\">\n            <div class=\"logo\">\n                <img src=\"https://lh3.googleusercontent.com/d/1wz9VTIXLaeBmCDupXTU_u8hA7N73HBNl=w1000\" alt=\"unimgai\">\n            </div>\n            <h1 class=\"welcome-message\" id=\"welcomeMessage\">Welcome!</h1>\n        </header>\n\n        <main class=\"terms-container\">\n            <h2 class=\"terms-title\" id=\"termsTitle\">Terms and Conditions</h2>\n            <p class=\"last-updated\" id=\"lastUpdated\">Last updated: October 15, 2025</p>\n\n            <div id=\"termsContent\">\n                <!-- Terms will be dynamically inserted here -->\n            </div>\n\n            <div class=\"buttons-container\">\n                <button class=\"btn btn-accept\" id=\"acceptBtn\" onclick=\"handleAccept()\">\n                    <span id=\"acceptLabel\">✅ Yes, I accept</span>\n                </button>\n                <button class=\"btn btn-decline\" id=\"declineBtn\" onclick=\"handleDecline()\">\n                    <span id=\"declineLabel\">❌ No, I do not accept</span>\n                </button>\n            </div>\n\n            <div class=\"spinner\" id=\"spinner\"></div>\n        </main>\n    </div>\n\n        <!-- Response Message -->\n    <div class=\"response-message\" id=\"responseMessage\">\n        <h3 class=\"response-title\" id=\"responseTitle\">Response</h3>\n        <p class=\"response-text\" id=\"responseText\">Message</p>\n        <button class=\"close-btn\" onclick=\"closeApp()\">Por favor, cierra esta ventana</button>\n    </div>\n\n    <script>\n        // Translations\n        const translations = {\n            en: {\n                welcomeMessage: \"Hello @${username}, please review and accept the following terms and conditions to continue using the service.\",\n                termsTitle: \"Terms and Conditions — unimgai (AI Image Editor on Telegram)\",\n                lastUpdated: \"Last updated: October 15, 2025\",\n                objectTitle: \"Object\",\n                objectText: \"unimgai provides an automated image editing tool integrated into Telegram (hereinafter, \\\"the Tool\\\"), which allows resizing, restoring, enhancing, and transforming images through artificial intelligence.\",\n                acceptanceTitle: \"Acceptance\",\n                acceptanceText: \"By using the Tool, you accept these Terms and any related policy published by unimgai.\",\n                responsibleUseTitle: \"Responsible Use and NSFW Content\",\n                responsibleUseText: \"The Tool may process content of all kinds, including adult content (NSFW). The user is solely responsible for any image, video, or content generated, shared, or published through the Tool. unimgai does not control or supervise the use made by users of the generated content. All material created with the Tool is the exclusive responsibility of the user, who must comply with applicable laws and regulations.\",\n                disclaimerTitle: \"Disclaimer of Liability\",\n                disclaimerText: \"unimgai is not responsible for: <ul><li>Content created, generated, or distributed by users.</li><li>Infringements of copyright, privacy, or laws caused by the use of the service.</li><li>Damages or legal consequences arising from the misuse of the Tool.</li></ul>\",\n                prohibitionsTitle: \"Prohibitions\",\n                prohibitionsText: \"It is strictly forbidden to use the Tool to: <ul><li>Create or disseminate illegal material, including child pornography or non-consensual content.</li><li>Impersonate identities, harass, or violate the privacy of third parties.</li><li>Generate content that infringes intellectual property rights or Telegram's terms of use.</li></ul>\",\n                modificationsTitle: \"Modifications\",\n                modificationsText: \"unimgai may update or modify these Terms at any time. Updates will be published through the service's official communication channels.\",\n                jurisdictionTitle: \"Jurisdiction\",\n                jurisdictionText: \"These Terms shall be governed by the legislation applicable in the user's territory. Any dispute will be resolved before the competent authorities in accordance with current regulations.\",\n                dataNoticeTitle: \"Data Processing Notice — unimgai\",\n                controllerTitle: \"Data Controller\",\n                controllerText: \"unimgai is an experimental digital project without a registered legal entity.\",\n                purposeTitle: \"Purpose of Processing\",\n                purposeText: \"The service processes only the strictly necessary data to: <ul><li>Identify the user via their Telegram ID.</li><li>Register and manage XTR credit transactions within the platform.</li><li>Keep the credit system active and in order.</li><li>Process user requests and respond to commands.</li><li>Improve the stability and functioning of the service.</li></ul>\",\n                dataProcessedTitle: \"Data Processed\",\n                dataProcessedText: \"<ul><li><strong>Telegram User Identifier:</strong> necessary for the operation of the service.</li><li><strong>Prompts (user-generated input texts):</strong> are saved only for technical or improvement purposes.</li><li><strong>XTR Transaction Logs:</strong> include amount, date, and balance.</li><li><strong>Basic Technical Data:</strong> time, executed commands, and resource usage.</li></ul> unimgai does not store or reuse images or videos generated or processed by users. Images are delivered directly to the user and are under their full control.\",\n                userRightsTitle: \"User Rights\",\n                userRightsText: \"The user can: <ul><li>Check their available credits.</li><li>View their last XTR transaction.</li><li>Delete any generated content in their chat with the Tool, without unimgai keeping any backup.</li></ul> Since no images or persistent personal data are stored, the user does not need to request additional deletion.\",\n                retentionTitle: \"Information Retention\",\n                retentionText: \"Only minimal technical records (ID, prompts, and XTR transactions) necessary to maintain the operability of the service are kept.\",\n                dataSharingTitle: \"Data Sharing\",\n                dataSharingText: \"unimgai may collect and use technical data, transaction logs, and user-generated prompts for any purpose related to the operation, development, maintenance, or improvement of the Tool and its related services. This includes internal analysis, testing, AI model training, audits, and system optimization. The processing of this data may be carried out directly by unimgai or through technical infrastructure providers (such as AI services or cloud servers), always maintaining secure and confidential handling.\",\n                securityTitle: \"Security\",\n                securityText: \"Reasonable technical and organizational measures are applied to protect the processed information. However, the user acknowledges that no digital system is completely infallible and assumes the inherent risks of using online services.\",\n                acceptLabel: \"✅ Yes, I accept\",\n                declineLabel: \"❌ No, I do not accept\",\n                acceptedTitle: \"🎉 Welcome to unimgai!\",\n                acceptedMessage: \"Thank you @${username}! Your acceptance has been confirmed. You now have full access to all unimgai features and services.\\n\\nStart creating amazing images with AI-powered editing tools right in Telegram!\",\n                declinedTitle: \"🤔 Terms Not Accepted\",\n                declinedMessage: \"We understand, @${username}. To provide you with a secure and high-quality service, we need your acceptance of our terms and conditions.\\n\\nDon't worry, you can accept them at any time when you're ready to continue. We'll be here to help!\"\n            },\n            es: {\n                welcomeMessage: \"Hola @${username}, por favor revisa y acepta los siguientes términos y condiciones para continuar usando el servicio.\",\n                termsTitle: \"Términos y Condiciones — unimgai (Editor de Imágenes AI en Telegram)\",\n                lastUpdated: \"Última actualización: 15 de octubre de 2025\",\n                objectTitle: \"Objeto\",\n                objectText: \"unimgai proporciona una herramienta de edición de imágenes automatizada integrada en Telegram (en adelante, \\\"la Herramienta\\\"), que permite redimensionar, restaurar, mejorar y transformar imágenes mediante inteligencia artificial.\",\n                acceptanceTitle: \"Aceptación\",\n                acceptanceText: \"Al usar la Herramienta, aceptas estos Términos y cualquier política relacionada publicada por unimgai.\",\n                responsibleUseTitle: \"Uso Responsable y Contenido NSFW\",\n                responsibleUseText: \"La Herramienta puede procesar contenido de todo tipo, incluyendo contenido para adultos (NSFW). El usuario es el único responsable de cualquier imagen, video o contenido generado, compartido o publicado a través de la Herramienta. unimgai no controla ni supervisa el uso que los usuarios hacen del contenido generado. Todo material creado con la Herramienta es responsabilidad exclusiva del usuario, quien debe cumplir con las leyes y regulaciones aplicables.\",\n                disclaimerTitle: \"Exención de Responsabilidad\",\n                disclaimerText: \"unimgai no es responsable de: <ul><li>Contenido creado, generado o distribuido por los usuarios.</li><li>Infracciones de derechos de autor, privacidad o leyes causadas por el uso del servicio.</li><li>Daños o consecuencias legales derivadas del mal uso de la Herramienta.</li></ul>\",\n                prohibitionsTitle: \"Prohibiciones\",\n                prohibitionsText: \"Está estrictamente prohibido usar la Herramienta para: <ul><li>Crear o difundir material ilegal, incluyendo pornografía infantil o contenido no consensuado.</li><li>Suplantar identidades, acosar o violar la privacidad de terceros.</li><li>Generar contenido que infrinja los derechos de propiedad intelectual o los términos de uso de Telegram.</li></ul>\",\n                modificationsTitle: \"Modificaciones\",\n                modificationsText: \"unimgai puede actualizar o modificar estos Términos en cualquier momento. Las actualizaciones se publicarán a través de los canales oficiales de comunicación del servicio.\",\n                jurisdictionTitle: \"Jurisdicción\",\n                jurisdictionText: \"Estos Términos se regirán por la legislación aplicable en el territorio del usuario. Cualquier disputa se resolverá ante las autoridades competentes de acuerdo con las regulaciones vigentes.\",\n                dataNoticeTitle: \"Aviso de Tratamiento de Datos — unimgai\",\n                controllerTitle: \"Responsable del Tratamiento\",\n                controllerText: \"unimgai es un proyecto digital experimental sin entidad legal registrada.\",\n                purposeTitle: \"Finalidad del Tratamiento\",\n                purposeText: \"El servicio procesa únicamente los datos estrictamente necesarios para: <ul><li>Identificar al usuario mediante su ID de Telegram.</li><li>Registrar y gestionar transacciones de créditos XTR dentro de la plataforma.</li><li>Mantener activo y en orden el sistema de créditos.</li><li>Procesar las solicitudes del usuario y responder a comandos.</li><li>Mejorar la estabilidad y funcionamiento del servicio.</li></ul>\",\n                dataProcessedTitle: \"Datos Tratados\",\n                dataProcessedText: \"<ul><li><strong>Identificador de Usuario de Telegram:</strong> necesario para el funcionamiento del servicio.</li><li><strong>Prompts (textos de entrada generados por el usuario):</strong> se guardan solo para fines técnicos o de mejora.</li><li><strong>Registros de Transacciones XTR:</strong> incluyen monto, fecha y saldo.</li><li><strong>Datos Técnicos Básicos:</strong> tiempo, comandos ejecutados y uso de recursos.</li></ul> unimgai no almacena ni reutiliza imágenes o videos generados o procesados por los usuarios. Las imágenes se entregan directamente al usuario y están bajo su control total.\",\n                userRightsTitle: \"Derechos del Usuario\",\n                userRightsText: \"El usuario puede: <ul><li>Ver sus créditos disponibles.</li><li>Ver su última transacción XTR.</li><li>Eliminar cualquier contenido generado en su chat con la Herramienta, sin que unimgai conserve ninguna copia.</li></ul> Dado que no se almacenan imágenes ni datos personales persistentes, el usuario no necesita solicitar eliminación adicional.\",\n                retentionTitle: \"Retención de Información\",\n                retentionText: \"Solo se mantienen registros técnicos mínimos (ID, prompts y transacciones XTR) necesarios para mantener la operatividad del servicio.\",\n                dataSharingTitle: \"Compartición de Datos\",\n                dataSharingText: \"unimgai puede recopilar y utilizar datos técnicos, registros de transacciones y prompts generados por el usuario para cualquier propósito relacionado con la operación, desarrollo, mantenimiento o mejora de la Herramienta y sus servicios relacionados. Esto incluye análisis internos, pruebas, entrenamiento de modelos de IA, auditorías y optimización del sistema. El procesamiento de estos datos puede ser realizado directamente por unimgai o a través de proveedores de infraestructura técnica (como servicios de IA o servidores en la nube), manteniendo siempre un manejo seguro y confidencial.\",\n                securityTitle: \"Seguridad\",\n                securityText: \"Se aplican medidas técnicas y organizativas razonables para proteger la información procesada. Sin embargo, el usuario reconoce que ningún sistema digital es completamente infalible y asume los riesgos inherentes del uso de servicios en línea.\",\n                acceptLabel: \"✅ Sí, acepto\",\n                declineLabel: \"❌ No, no acepto\",\n                acceptedTitle: \"🎉 ¡Bienvenido a unimgai!\",\n                acceptedMessage: \"¡Gracias @${username}! Tu aceptación ha sido confirmada. Ahora tienes acceso completo a todas las características y servicios de unimgai.\\n\\n¡Comienza a crear imágenes increíbles con herramientas de edición potenciadas por IA directamente en Telegram!\",\n                declinedTitle: \"🤔 Términos No Aceptados\",\n                declinedMessage: \"Entendemos, @${username}. Para proporcionarte un servicio seguro y de alta calidad, necesitamos tu aceptación de nuestros términos y condiciones.\\n\\nNo te preocupes, puedes aceptarlos en cualquier momento cuando estés listo para continuar. ¡Estaremos aquí para ayudarte!\"\n            },\n            ru: {\n                welcomeMessage: \"Привет @${username}, пожалуйста, ознакомьтесь с нижеприведенными условиями и примите их для продолжения использования сервиса.\",\n                termsTitle: \"Условия Использования — unimgai (Редактор изображений ИИ в Telegram)\",\n                lastUpdated: \"Последнее обновление: 15 октября 2025\",\n                objectTitle: \"Объект\",\n                objectText: \"unimgai предоставляет автоматизированный инструмент редактирования изображений, интегрированный в Telegram (далее, \\\"Инструмент\\\"), который позволяет изменять размер, восстанавливать, улучшать и трансформировать изображения с помощью искусственного интеллекта.\",\n                acceptanceTitle: \"Принятие\",\n                acceptanceText: \"Используя Инструмент, вы принимаете эти Условия и любую связанную политику, опубликованную unimgai.\",\n                responsibleUseTitle: \"Ответственное Использование и NSFW Контент\",\n                responsibleUseText: \"Инструмент может обрабатывать контент всех видов, включая контент для взрослых (NSFW). Пользователь несет единоличную ответственность за любые изображения, видео или контент, созданные, переданные или опубликованные через Инструмент. unimgai не контролирует и не наблюдает за использованием пользователями созданного контента. Все материалы, созданные с помощью Инструмента, находятся под исключительной ответственностью пользователя, который должен соблюдать применимые законы и регуляции.\",\n                disclaimerTitle: \"Отказ от Ответственности\",\n                disclaimerText: \"unimgai не несет ответственности за: <ul><li>Контент, созданный, сгенерированный или распространенный пользователями.</li><li>Нарушения авторских прав, конфиденциальности или законов, вызванные использованием сервиса.</li><li>Убытки или юридические последствия, возникающие в результате неправильного использования Инструмента.</li></ul>\",\n                prohibitionsTitle: \"Запреты\",\n                prohibitionsText: \"Строго запрещено использовать Инструмент для: <ul><li>Создания или распространения незаконных материалов, включая детскую порнографию или несогласованный контент.</li><li>Мошенничества с идентичностью, преследования или нарушения конфиденциальности третьих лиц.</li><li>Создания контента, нарушающего права интеллектуальной собственности или условия использования Telegram.</li></ul>\",\n                modificationsTitle: \"Модификации\",\n                modificationsText: \"unimgai может обновлять или изменять эти Условия в любое время. Обновления будут публиковаться через официальные каналы коммуникации сервиса.\",\n                jurisdictionTitle: \"Юрисдикция\",\n                jurisdictionText: \"Эти Условия регулируются законодательством, применимым на территории пользователя. Любой спор будет разрешаться перед компетентными властями в соответствии с текущими регуляциями.\",\n                dataNoticeTitle: \"Уведомление об Обработке Данных — unimgai\",\n                controllerTitle: \"Контролер Данных\",\n                controllerText: \"unimgai является экспериментальным цифровым проектом без зарегистрированного юридического лица.\",\n                purposeTitle: \"Цель Обработки\",\n                purposeText: \"Сервис обрабатывает только строго необходимые данные для: <ul><li>Идентификации пользователя через его ID Telegram.</li><li>Регистрации и управления транзакциями кредитов XTR в пределах платформы.</li><li>Поддержания кредитной системы активной и в порядке.</li><li>Обработки запросов пользователя и ответа на команды.</li><li>Улучшения стабильности и функционирования сервиса.</li></ul>\",\n                dataProcessedTitle: \"Обрабатываемые Данные\",\n                dataProcessedText: \"<ul><li><strong>Идентификатор Пользователя Telegram:</strong> необходим для работы сервиса.</li><li><strong>Промпты (входные тексты, сгенерированные пользователем):</strong> сохраняются только для технических или улучшающих целей.</li><li><strong>Журналы Транзакций XTR:</strong> включают сумму, дату и баланс.</li><li><strong>Базовые Технические Данные:</strong> время, выполненные команды и использование ресурсов.</li></ul> unimgai не хранит и не повторно использует изображения или видео, сгенерированные или обработанные пользователями. Изображения доставляются непосредственно пользователю и находятся под его полным контролем.\",\n                userRightsTitle: \"Права Пользователя\",\n                userRightsText: \"Пользователь может: <ul><li>Проверить доступные кредиты.</li><li>Просмотреть последнюю транзакцию XTR.</li><li>Удалить любой созданный контент в своем чате с Инструментом, без unimgai сохранения какой-либо резервной копии.</li></ul> Поскольку изображения или постоянные личные данные не хранятся, пользователю не нужно запрашивать дополнительное удаление.\",\n                retentionTitle: \"Хранение Информации\",\n                retentionText: \"Хранятся только минимальные технические записи (ID, промпты и транзакции XTR), необходимые для поддержания работоспособности сервиса.\",\n                dataSharingTitle: \"Обмен Данными\",\n                dataSharingText: \"unimgai может собирать и использовать технические данные, журналы транзакций и промпты, сгенерированные пользователем, для любой цели, связанной с эксплуатацией, разработкой, обслуживанием или улучшением Инструмента и связанных с ним сервисов. Это включает внутренний анализ, тестирование, обучение моделей ИИ, аудиты и оптимизацию системы. Обработка этих данных может осуществляться непосредственно unimgai или через поставщиков технической инфраструктуры (таких как сервисы ИИ или облачные серверы), поддерживая всегда безопасное и конфиденциальное обращение.\",\n                securityTitle: \"Безопасность\",\n                securityText: \"Применяются разумные технические и организационные меры для защиты обрабатываемой информации. Однако пользователь признает, что ни одна цифровая система не является полностью безошибочной и принимает на себя неотъемлемые риски использования онлайн-сервисов.\",\n                acceptLabel: \"✅ Да, я принимаю\",\n                declineLabel: \"❌ Нет, я не принимаю\",\n                acceptedTitle: \"🎉 Добро пожаловать в unimgai!\",\n                acceptedMessage: \"Спасибо @${username}! Ваше принятие подтверждено. Теперь у вас есть полный доступ ко всем функциям и сервисам unimgai.\\n\\nНачните создавать удивительные изображения с инструментами редактирования на базе ИИ прямо в Telegram!\",\n                declinedTitle: \"🤔 Условия Не Приняты\",\n                declinedMessage: \"Мы понимаем, @${username}. Чтобы предоставить вам безопасный и высококачественный сервис, нам нужно ваше принятие наших условий использования.\\n\\nНе беспокойтесь, вы можете принять их в любое время, когда будете готовы продолжить. Мы здесь, чтобы помочь!\"\n            },\n            hi: {\n                welcomeMessage: \"नमस्ते @${username}, कृपया सेवा का उपयोग जारी रखने के लिए निम्नलिखित नियम और शर्तों की समीक्षा करें और स्वीकार करें।\",\n                termsTitle: \"नियम और शर्तें — unimgai (Telegram पर AI इमेज एडिटर)\",\n                lastUpdated: \"अंतिम अपडेट: 15 अक्टूबर 2025\",\n                objectTitle: \"उद्देश्य\",\n                objectText: \"unimgai Telegram में एकीकृत एक स्वचालित इमेज एडिटिंग टूल प्रदान करता है (इसके बाद, \\\"टूल\\\"), जो कृत्रिम बुद्धिमत्ता के माध्यम से इमेज का आकार बदलने, बहाल करने, बढ़ाने और रूपांतरित करने की अनुमति देता है।\",\n                acceptanceTitle: \"स्वीकृति\",\n                acceptanceText: \"टूल का उपयोग करके, आप unimgai द्वारा प्रकाशित इन नियमों और किसी भी संबंधित नीति को स्वीकार करते हैं।\",\n                responsibleUseTitle: \"जिम्मेदार उपयोग और NSFW सामग्री\",\n                responsibleUseText: \"टूल सभी प्रकार की सामग्री को प्रोसेस कर सकता है, जिसमें वयस्क सामग्री (NSFW) भी शामिल है। उपयोगकर्ता टूल के माध्यम से बनाई गई, साझा की गई या प्रकाशित की गई किसी भी इमेज, वीडियो या सामग्री के लिए पूरी तरह से जिम्मेदार है। unimgai उपयोगकर्ताओं द्वारा बनाई गई सामग्री के उपयोग को नियंत्रित या पर्यवेक्षित नहीं करता है। टूल के साथ बनाई गई सभी सामग्री उपयोगकर्ता की अनन्य जिम्मेदारी है, जो लागू कानूनों और नियमों का पालन करना चाहिए।\",\n                disclaimerTitle: \"जिम्मेदारी की अस्वीकृति\",\n                disclaimerText: \"unimgai जिम्मेदार नहीं है: <ul><li>उपयोगकर्ताओं द्वारा बनाई गई, जेनरेट की गई या वितरित सामग्री के लिए।><li>सेवा के उपयोग के कारण कॉपीराइट, गोपनीयता या कानूनों के उल्लंघन के लिए।><li>टूल के दुरुपयोग से उत्पन्न होने वाले नुकसान या कानूनी परिणामों के लिए।></ul>\",\n                prohibitionsTitle: \"प्रतिबंध\",\n                prohibitionsText: \"टूल का उपयोग करना सख्त वर्जित है: <ul><li>अवैध सामग्री बनाना या फैलाना, जिसमें बाल पोर्नोग्राफी या गैर-सहमति सामग्री शामिल है।><li>पहचान की नकल करना, परेशान करना या तीसरे पक्ष की गोपनीयता का उल्लंघन करना।><li>बौद्धिक संपदा अधिकारों या Telegram के उपयोग की शर्तों का उल्लंघन करने वाली सामग्री जेनरेट करना।></ul>\",\n                modificationsTitle: \"संशोधन\",\n                modificationsText: \"unimgai किसी भी समय इन नियमों को अपडेट या संशोधित कर सकता है। अपडेट सेवा के आधिकारिक संचार चैनलों के माध्यम से प्रकाशित किए जाएंगे।\",\n                jurisdictionTitle: \"न्यायक्षेत्र\",\n                jurisdictionText: \"ये नियम उपयोगकर्ता के क्षेत्र में लागू कानूनों द्वारा शासित होंगे। कोई भी विवाद वर्तमान नियमों के अनुसार सक्षम अधिकारियों के समक्ष हल किया जाएगा।\",\n                dataNoticeTitle: \"डेटा प्रोसेसिंग नोटिस — unimgai\",\n                controllerTitle: \"डेटा कंट्रोलर\",\n                controllerText: \"unimgai एक प्रयोगात्मक डिजिटल प्रोजेक्ट है बिना किसी पंजीकृत कानूनी इकाई के।\",\n                purposeTitle: \"प्रोसेसिंग का उद्देश्य\",\n                purposeText: \"सेवा केवल कड़े आवश्यक डेटा को प्रोसेस करती है: <ul><li>उपयोगकर्ता को उनके Telegram ID के माध्यम से पहचानना।><li>प्लेटफॉर्म के भीतर XTR क्रेडिट लेनदेन को रजिस्टर और प्रबंधित करना।><li>क्रेडिट सिस्टम को सक्रिय और व्यवस्थित रखना।><li>उपयोगकर्ता अनुरोधों को प्रोसेस करना और कमांड का जवाब देना।><li>सेवा की स्थिरता और कार्यक्षमता में सुधार करना।></ul>\",\n                dataProcessedTitle: \"प्रोसेस किए गए डेटा\",\n                dataProcessedText: \"<ul><li><strong>टेलीग्राम यूजर आइडेंटिफायर:</strong> सेवा के संचालन के लिए आवश्यक।><li><strong>प्रॉम्प्ट्स (उपयोगकर्ता-जेनरेटेड इनपुट टेक्स्ट):</strong> केवल तकनीकी या सुधार उद्देश्यों के लिए सहेजे जाते हैं।><li><strong>XTR लेनदेन लॉग:</strong> राशि, तिथि और शेष राशि शामिल है।><li><strong>बेसिक तकनीकी डेटा:</strong> समय, निष्पादित कमांड और संसाधन उपयोग।></ul> unimgai उपयोगकर्ताओं द्वारा जेनरेट किए गए या प्रोसेस किए गए इमेज या वीडियो को स्टोर या पुनः उपयोग नहीं करता है। इमेज सीधे उपयोगकर्ता को वितरित की जाती हैं और उनके पूर्ण नियंत्रण में हैं।\",\n                userRightsTitle: \"उपयोगकर्ता अधिकार\",\n                userRightsText: \"उपयोगकर्ता कर सकता है: <ul><li>अपने उपलब्ध क्रेडिट जांच सकता है।><li>अपना अंतिम XTR लेनदेन देख सकता है।><li>टूल के साथ अपने चैट में कोई भी जेनरेट किया गया कंटेंट हटा सकता है, बिना unimgai के कोई बैकअप रखे।></ul> चूंकि कोई इमेज या स्थायी व्यक्तिगत डेटा स्टोर नहीं किया जाता है, उपयोगकर्ता को अतिरिक्त हटाने का अनुरोध करने की आवश्यकता नहीं है।\",\n                retentionTitle: \"सूचना प्रतिधारण\",\n                retentionText: \"केवल न्यूनतम तकनीकी रिकॉर्ड (ID, प्रॉम्प्ट और XTR लेनदेन) रखे जाते हैं जो सेवा की ऑपरेबिलिटी बनाए रखने के लिए आवश्यक हैं।\",\n                dataSharingTitle: \"डेटा साझाकरण\",\n                dataSharingText: \"unimgai टूल और इससे संबंधित सेवाओं के संचालन, विकास, रखरखाव या सुधार से संबंधित किसी भी उद्देश्य के लिए तकनीकी डेटा, लेनदेन लॉग और उपयोगकर्ता-जेनरेटेड प्रॉम्प्ट्स को एकत्रित और उपयोग कर सकता है। इसमें आंतरिक विश्लेषण, परीक्षण, AI मॉडल प्रशिक्षण, ऑडिट और सिस्टम ऑप्टिमाइज़ेशन शामिल है। इस डेटा की प्रोसेसिंग सीधे unimgai द्वारा या तकनीकी इंफ्रास्ट्रक्चर प्रदाताओं (जैसे AI सेवाएं या क्लाउड सर्वर) के माध्यम से की जा सकती है, हमेशा सुरक्षित और गोपनीय हैंडलिंग बनाए रखते हुए।\",\n                securityTitle: \"सुरक्षा\",\n                securityText: \"प्रोसेस की गई जानकारी की सुरक्षा के लिए उचित तकनीकी और संगठनात्मक उपाय लागू किए जाते हैं। हालांकि, उपयोगकर्ता स्वीकार करता है कि कोई भी डिजिटल सिस्टम पूरी तरह से अपरिवर्तनीय नहीं है और ऑनलाइन सेवाओं के उपयोग के संबंधित जोखिमों को स्वीकार करता है।\",\n                acceptLabel: \"✅ हाँ, मैं स्वीकार करता हूँ\",\n                declineLabel: \"❌ नहीं, मैं स्वीकार नहीं करता\",\n                acceptedTitle: \"🎉 unimgai में आपका स्वागत है!\",\n                acceptedMessage: \"धन्यवाद @${username}! आपकी स्वीकृति की पुष्टि हो गई है। अब आपके पास unimgai की सभी विशेषताओं और सेवाओं तक पूर्ण पहुंच है।\\n\\nAI-संचालित एडिटिंग टूल के साथ सीधे Telegram में अद्भुत इमेज बनाना शुरू करें!\",\n                declinedTitle: \"🤔 नियम स्वीकार नहीं किए गए\",\n                declinedMessage: \"हम समझते हैं, @${username}। आपको एक सुरक्षित और उच्च गुणवत्ता वाली सेवा प्रदान करने के लिए, हमें आपकी नियमों और शर्तों की स्वीकृति की आवश्यकता है।\\n\\nचिंता न करें, आप जब भी तैयार हों तब उन्हें स्वीकार कर सकते हैं। हम मदद के लिए यहाँ हैं!\"\n            },\n            id: {\n                welcomeMessage: \"Halo @${username}, silakan tinjau dan terima syarat dan ketentuan berikut untuk terus menggunakan layanan.\",\n                termsTitle: \"Syarat dan Ketentuan — unimgai (Editor Gambar AI di Telegram)\",\n                lastUpdated: \"Terakhir diperbarui: 15 Oktober 2025\",\n                objectTitle: \"Objek\",\n                objectText: \"unimgai menyediakan alat editing gambar otomatis yang terintegrasi dengan Telegram (selanjutnya, \\\"Alat\\\"), yang memungkinkan mengubah ukuran, memulihkan, meningkatkan, dan mengubah gambar melalui kecerdasan buatan.\",\n                acceptanceTitle: \"Penerimaan\",\n                acceptanceText: \"Dengan menggunakan Alat, Anda menerima Syarat ini dan kebijakan terkait yang diterbitkan oleh unimgai.\",\n                responsibleUseTitle: \"Penggunaan Bertanggung Jawab dan Konten NSFW\",\n                responsibleUseText: \"Alat dapat memproses konten segala jenis, termasuk konten dewasa (NSFW). Pengguna bertanggung jawab penuh atas gambar, video, atau konten apa pun yang dibuat, dibagikan, atau dipublikasikan melalui Alat. unimgai tidak mengontrol atau mengawasi penggunaan konten yang dihasilkan oleh pengguna. Semua materi yang dibuat dengan Alat adalah tanggung jawab eksklusif pengguna, yang harus mematuhi hukum dan peraturan yang berlaku.\",\n                disclaimerTitle: \"Penafian Tanggung Jawab\",\n                disclaimerText: \"unimgai tidak bertanggung jawab atas: <ul><li>Konten yang dibuat, dihasilkan, atau didistribusikan oleh pengguna.</li><li>Pelanggaran hak cipta, privasi, atau hukum yang disebabkan oleh penggunaan layanan.</li><li>Kerusakan atau konsekuensi hukum yang timbul dari penyalahgunaan Alat.</li></ul>\",\n                prohibitionsTitle: \"Larangan\",\n                prohibitionsText: \"Dilarang keras menggunakan Alat untuk: <ul><li>Membuat atau menyebarkan materi ilegal, termasuk pornografi anak atau konten non-konsensual.</li><li>Menyamar identitas, melecehkan, atau melanggar privasi pihak ketiga.</li><li>Menghasilkan konten yang melanggar hak kekayaan intelektual atau syarat penggunaan Telegram.</li></ul>\",\n                modificationsTitle: \"Modifikasi\",\n                modificationsText: \"unimgai dapat memperbarui atau mengubah Syarat ini kapan saja. Pembaruan akan dipublikasikan melalui saluran komunikasi resmi layanan.\",\n                jurisdictionTitle: \"Yurisdiksi\",\n                jurisdictionText: \"Syarat ini diatur oleh legislasi yang berlaku di wilayah pengguna. Setiap sengketa akan diselesaikan di hadapan otoritas yang kompeten sesuai dengan peraturan yang berlaku.\",\n                dataNoticeTitle: \"Pemberitahuan Pemrosesan Data — unimgai\",\n                controllerTitle: \"Pengendali Data\",\n                controllerText: \"unimgai adalah proyek digital eksperimental tanpa badan hukum terdaftar.\",\n                purposeTitle: \"Tujuan Pemrosesan\",\n                purposeText: \"Layanan hanya memproses data yang sangat diperlukan untuk: <ul><li>Mengidentifikasi pengguna melalui ID Telegram mereka.</li><li>Mendaftarkan dan mengelola transaksi kredit XTR dalam platform.</li><li>Menjaga sistem kredit aktif dan teratur.</li><li>Memproses permintaan pengguna dan merespons perintah.</li><li>Meningkatkan stabilitas dan fungsi layanan.</li></ul>\",\n                dataProcessedTitle: \"Data yang Diproses\",\n                dataProcessedText: \"<ul><li><strong>Identifier Pengguna Telegram:</strong> diperlukan untuk operasi layanan.</li><li><strong>Prompt (teks input yang dihasilkan pengguna):</strong> hanya disimpan untuk tujuan teknis atau perbaikan.</li><li><strong>Log Transaksi XTR:</strong> termasuk jumlah, tanggal, dan saldo.</li><li><strong>Data Teknis Dasar:</strong> waktu, perintah yang dieksekusi, dan penggunaan sumber daya.</li></ul> unimgai tidak menyimpan atau menggunakan kembali gambar atau video yang dihasilkan atau diproses oleh pengguna. Gambar dikirim langsung ke pengguna dan berada di bawah kendali penuh mereka.\",\n                userRightsTitle: \"Hak Pengguna\",\n                userRightsText: \"Pengguna dapat: <ul><li>Memeriksa kredit yang tersedia.</li><li>Melihat transaksi XTR terakhir mereka.</li><li>Menghapus konten yang dihasilkan dalam obrolan mereka dengan Alat, tanpa unimgai menyimpan cadangan apa pun.</li></ul> Karena tidak ada gambar atau data pribadi persisten yang disimpan, pengguna tidak perlu meminta penghapusan tambahan.\",\n                retentionTitle: \"Penyimpanan Informasi\",\n                retentionText: \"Hanya catatan teknis minimal (ID, prompt, dan transaksi XTR) yang diperlukan untuk mempertahankan operabilitas layanan yang dipertahankan.\",\n                dataSharingTitle: \"Berbagi Data\",\n                dataSharingText: \"unimgai dapat mengumpulkan dan menggunakan data teknis, log transaksi, dan prompt yang dihasilkan pengguna untuk tujuan apa pun yang terkait dengan operasi, pengembangan, pemeliharaan, atau perbaikan Alat dan layanan terkait. Ini termasuk analisis internal, pengujian, pelatihan model AI, audit, dan optimasi sistem. Pemrosesan data ini dapat dilakukan langsung oleh unimgai atau melalui penyedia infrastruktur teknis (seperti layanan AI atau server cloud), selalu mempertahankan penanganan yang aman dan rahasia.\",\n                securityTitle: \"Keamanan\",\n                securityText: \"Langkah-langkah teknis dan organisasional yang wajar diterapkan untuk melindungi informasi yang diproses. Namun, pengguna mengakui bahwa tidak ada sistem digital yang sepenuhnya tidak dapat gagal dan mengasumsikan risiko inheren dari penggunaan layanan online.\",\n                acceptLabel: \"✅ Ya, saya menerima\",\n                declineLabel: \"❌ Tidak, saya tidak menerima\",\n                acceptedTitle: \"🎉 Selamat datang di unimgai!\",\n                acceptedMessage: \"Terima kasih @${username}! Penerimaan Anda telah dikonfirmasi. Sekarang Anda memiliki akses penuh ke semua fitur dan layanan unimgai.\\n\\nMulai membuat gambar yang luar biasa dengan alat editing bertenaga AI langsung di Telegram!\",\n                declinedTitle: \"🤔 Syarat Tidak Diterima\",\n                declinedMessage: \"Kami mengerti, @${username}. Untuk memberikan Anda layanan yang aman dan berkualitas tinggi, kami memerlukan penerimaan Anda terhadap syarat dan ketentuan kami.\\n\\nJangan khawatir, Anda dapat menerimanya kapan saja ketika Anda siap untuk melanjutkan. Kami akan di sini untuk membantu!\"\n            },\n            pt: {\n                welcomeMessage: \"Olá @${username}, por favor, revise e aceite os seguintes termos e condições para continuar usando o serviço.\",\n                termsTitle: \"Termos e Condições — unimgai (Editor de Imagens AI no Telegram)\",\n                lastUpdated: \"Última atualização: 15 de outubro de 2025\",\n                objectTitle: \"Objeto\",\n                objectText: \"unimgai fornece uma ferramenta de edição de imagens automatizada integrada ao Telegram (doravante, \\\"a Ferramenta\\\"), que permite redimensionar, restaurar, aprimorar e transformar imagens através de inteligência artificial.\",\n                acceptanceTitle: \"Aceitação\",\n                acceptanceText: \"Ao usar a Ferramenta, você aceita estes Termos e qualquer política relacionada publicada pela unimgai.\",\n                responsibleUseTitle: \"Uso Responsável e Conteúdo NSFW\",\n                responsibleUseText: \"A Ferramenta pode processar conteúdo de todos os tipos, incluindo conteúdo adulto (NSFW). O usuário é o único responsável por qualquer imagem, vídeo ou conteúdo criado, compartilhado ou publicado através da Ferramenta. unimgai não controla ou supervisiona o uso feito pelos usuários do conteúdo gerado. Todo material criado com a Ferramenta é de responsabilidade exclusiva do usuário, que deve cumprir as leis e regulamentos aplicáveis.\",\n                disclaimerTitle: \"Isenção de Responsabilidade\",\n                disclaimerText: \"unimgai não é responsável por: <ul><li>Conteúdo criado, gerado ou distribuído pelos usuários.</li><li>Violações de direitos autorais, privacidade ou leis causadas pelo uso do serviço.</li><li>Danos ou consequências legais decorrentes do mau uso da Ferramenta.</li></ul>\",\n                prohibitionsTitle: \"Proibições\",\n                prohibitionsText: \"É estritamente proibido usar a Ferramenta para: <ul><li>Criar ou disseminar material ilegal, incluindo pornografia infantil ou conteúdo não consensual.</li><li>Assumir identidades, assediar ou violar a privacidade de terceiros.</li><li>Gerar conteúdo que infrinja direitos de propriedade intelectual ou os termos de uso do Telegram.</li></ul>\",\n                modificationsTitle: \"Modificações\",\n                modificationsText: \"unimgai pode atualizar ou modificar estes Termos a qualquer momento. As atualizações serão publicadas através dos canais oficiais de comunicação do serviço.\",\n                jurisdictionTitle: \"Jurisdição\",\n                jurisdictionText: \"Estes Termos serão regidos pela legislação aplicável no território do usuário. Qualquer disputa será resolvida perante as autoridades competentes de acordo com os regulamentos vigentes.\",\n                dataNoticeTitle: \"Aviso de Processamento de Dados — unimgai\",\n                controllerTitle: \"Controlador de Dados\",\n                controllerText: \"unimgai é um projeto digital experimental sem entidade legal registrada.\",\n                purposeTitle: \"Finalidade do Processamento\",\n                purposeText: \"O serviço processa apenas os dados estritamente necessários para: <ul><li>Identificar o usuário através do seu ID do Telegram.</li><li>Registrar e gerenciar transações de créditos XTR dentro da plataforma.</li><li>Manter o sistema de créditos ativo e em ordem.</li><li>Processar solicitações do usuário e responder a comandos.</li><li>Melhorar a estabilidade e funcionamento do serviço.</li></ul>\",\n                dataProcessedTitle: \"Dados Processados\",\n                dataProcessedText: \"<ul><li><strong>Identificador de Usuário do Telegram:</strong> necessário para a operação do serviço.</li><li><strong>Prompts (textos de entrada gerados pelo usuário):</strong> são salvos apenas para fins técnicos ou de melhoria.</li><li><strong>Registros de Transações XTR:</strong> incluem valor, data e saldo.</li><li><strong>Dados Técnicos Básicos:</strong> tempo, comandos executados e uso de recursos.</li></ul> unimgai não armazena ou reutiliza imagens ou vídeos gerados ou processados pelos usuários. As imagens são entregues diretamente ao usuário e estão sob seu controle total.\",\n                userRightsTitle: \"Direitos do Usuário\",\n                userRightsText: \"O usuário pode: <ul><li>Verificar seus créditos disponíveis.</li><li>Ver sua última transação XTR.</li><li>Excluir qualquer conteúdo gerado em seu chat com a Ferramenta, sem que unimgai mantenha qualquer backup.</li></ul> Como nenhuma imagem ou dado pessoal persistente é armazenado, o usuário não precisa solicitar exclusão adicional.\",\n                retentionTitle: \"Retenção de Informações\",\n                retentionText: \"Apenas registros técnicos mínimos (ID, prompts e transações XTR) necessários para manter a operacionalidade do serviço são mantidos.\",\n                dataSharingTitle: \"Compartilhamento de Dados\",\n                dataSharingText: \"unimgai pode coletar e usar dados técnicos, registros de transações e prompts gerados pelo usuário para qualquer finalidade relacionada à operação, desenvolvimento, manutenção ou melhoria da Ferramenta e seus serviços relacionados. Isso inclui análise interna, testes, treinamento de modelos de IA, auditorias e otimização do sistema. O processamento desses dados pode ser realizado diretamente pela unimgai ou através de provedores de infraestrutura técnica (como serviços de IA ou servidores em nuvem), mantendo sempre manuseio seguro e confidencial.\",\n                securityTitle: \"Segurança\",\n                securityText: \"Medidas técnicas e organizacionais razoáveis são aplicadas para proteger as informações processadas. No entanto, o usuário reconhece que nenhum sistema digital é completamente infalível e assume os riscos inerentes ao uso de serviços online.\",\n                acceptLabel: \"✅ Sim, eu aceito\",\n                declineLabel: \"❌ Não, eu não aceito\",\n                acceptedTitle: \"🎉 Bem-vindo ao unimgai!\",\n                acceptedMessage: \"Obrigado @${username}! Sua aceitação foi confirmada. Agora você tem acesso total a todos os recursos e serviços do unimgai.\\n\\nComece a criar imagens incríveis com ferramentas de edição alimentadas por IA diretamente no Telegram!\",\n                declinedTitle: \"🤔 Termos Não Aceitos\",\n                declinedMessage: \"Entendemos, @${username}. Para fornecer a você um serviço seguro e de alta qualidade, precisamos da sua aceitação dos nossos termos e condições.\\n\\nNão se preocupe, você pode aceitá-los a qualquer momento quando estiver pronto para continuar. Estaremos aqui para ajudar!\"\n            },\n            uk: {\n                welcomeMessage: \"Привіт @${username}, будь ласка, перегляньте та прийміть наступні умови та положення для продовження використання сервісу.\",\n                termsTitle: \"Умови та Положення — unimgai (Редактор Зображень ШІ в Telegram)\",\n                lastUpdated: \"Останнє оновлення: 15 жовтня 2025\",\n                objectTitle: \"Об'єкт\",\n                objectText: \"unimgai надає автоматизований інструмент редагування зображень, інтегрований у Telegram (надалі, \\\"Інструмент\\\"), який дозволяє змінювати розмір, відновлювати, покращувати та трансформувати зображення за допомогою штучного інтелекту.\",\n                acceptanceTitle: \"Прийняття\",\n                acceptanceText: \"Використовуючи Інструмент, ви приймаєте ці Умови та будь-яку пов'язану політику, опубліковану unimgai.\",\n                responsibleUseTitle: \"Відповідальне Використання та NSFW Контент\",\n                responsibleUseText: \"Інструмент може обробляти контент усіх видів, включаючи контент для дорослих (NSFW). Користувач несе виключну відповідальність за будь-які зображення, відео або контент, створені, поширені або опубліковані через Інструмент. unimgai не контролює та не наглядає за використанням користувачами створеного контенту. Усі матеріали, створені за допомогою Інструменту, є виключною відповідальністю користувача, який повинен дотримуватися чинних законів та правил.\",\n                disclaimerTitle: \"Відмова від Відповідальності\",\n                disclaimerText: \"unimgai не несе відповідальності за: <ul><li>Контент, створений, згенерований або поширений користувачами.</li><li>Порушення авторських прав, конфіденційності або законів, спричинені використанням сервісу.</li><li>Збитки або юридичні наслідки, що виникають внаслідок неправильного використання Інструменту.</li></ul>\",\n                prohibitionsTitle: \"Заборони\",\n                prohibitionsText: \"Суворо заборонено використовувати Інструмент для: <ul><li>Створення або поширення незаконних матеріалів, включаючи дитячу порнографію або згоду на контент.</li><li>Привласнення особистостей, переслідування або порушення конфіденційності третіх осіб.</li><li>Створення контенту, що порушує права інтелектуальної власності або умови використання Telegram.</li></ul>\",\n                modificationsTitle: \"Модифікації\",\n                modificationsText: \"unimgai може оновлювати або змінювати ці Умови в будь-який час. Оновлення будуть публікуватися через офіційні канали комунікації сервісу.\",\n                jurisdictionTitle: \"Юрисдикція\",\n                jurisdictionText: \"Ці Умови регулюються законодавством, застосовним на території користувача. Будь-який спір буде вирішуватися перед компетентними органами відповідно до чинних правил.\",\n                dataNoticeTitle: \"Повідомлення про Обробку Даних — unimgai\",\n                controllerTitle: \"Контролер Даних\",\n                controllerText: \"unimgai є експериментальним цифровим проектом без зареєстрованої юридичної особи.\",\n                purposeTitle: \"Мета Обробки\",\n                purposeText: \"Сервіс обробляє лише суворо необхідні дані для: <ul><li>Ідентифікації користувача через його ID Telegram.</li><li>Реєстрації та управління транзакціями кредитів XTR в межах платформи.</li><li>Підтримки кредитної системи активною та в порядку.</li><li>Обробки запитів користувача та відповіді на команди.</li><li>Покращення стабільності та функціонування сервісу.</li></ul>\",\n                dataProcessedTitle: \"Оброблювані Дані\",\n                dataProcessedText: \"<ul><li><strong>Ідентифікатор Користувача Telegram:</strong> необхідний для роботи сервісу.</li><li><strong>Промпти (вхідні тексти, згенеровані користувачем):</strong> зберігаються лише для технічних або покращувальних цілей.</li><li><strong>Журнали Транзакцій XTR:</strong> включають суму, дату та баланс.</li><li><strong>Базові Технічні Дані:</strong> час, виконані команди та використання ресурсів.</li></ul> unimgai не зберігає або повторно не використовує зображення або відео, згенеровані або оброблені користувачами. Зображення доставляються безпосередньо користувачеві і знаходяться під його повним контролем.\",\n                userRightsTitle: \"Права Користувача\",\n                userRightsText: \"Користувач може: <ul><li>Перевірити доступні кредити.</li><li>Переглянути останню транзакцію XTR.</li><li>Видалити будь-який створений контент у своєму чаті з Інструментом, без unimgai збереження будь-якої резервної копії.</li></ul> Оскільки зображення або постійні особисті дані не зберігаються, користувачеві не потрібно запитувати додаткове видалення.\",\n                retentionTitle: \"Збереження Інформації\",\n                retentionText: \"Зберігаються лише мінімальні технічні записи (ID, промпти та транзакції XTR), необхідні для підтримки працездатності сервісу.\",\n                dataSharingTitle: \"Обмін Даними\",\n                dataSharingText: \"unimgai може збирати та використовувати технічні дані, журнали транзакцій та промпти, згенеровані користувачем, для будь-якої мети, пов'язаної з експлуатацією, розробкою, обслуговуванням або покращенням Інструменту та пов'язаних з ним сервісів. Це включає внутрішній аналіз, тестування, навчання моделей ШІ, аудити та оптимізацію системи. Обробка цих даних може здійснюватися безпосередньо unimgai або через постачальників технічної інфраструктури (таких як сервіси ШІ або хмарні сервери), підтримуючи завжди безпечне та конфіденційне звернення.\",\n                securityTitle: \"Безпека\",\n                securityText: \"Застосовуються розумні технічні та організаційні заходи для захисту оброблюваної інформації. Однак, користувач визнає, що жодна цифрова система не є повністю безпомилковою і приймає на себе невід'ємні ризики використання онлайн-сервісів.\",\n                acceptLabel: \"✅ Так, я приймаю\",\n                declineLabel: \"❌ Ні, я не приймаю\",\n                acceptedTitle: \"🎉 Ласкаво просимо до unimgai!\",\n                acceptedMessage: \"Дякуємо @${username}! Ваше прийняття підтверджено. Тепер у вас є повний доступ до всіх функцій та сервісів unimgai.\\n\\nПочинайте створювати дивовижні зображення з інструментами редагування на базі ШІ прямо в Telegram!\",\n                declinedTitle: \"🤔 Умови Не Прийняті\",\n                declinedMessage: \"Ми розуміємо, @${username}. Щоб надати вам безпечний та високоякісний сервіс, нам потрібне ваше прийняття наших умов та положень.\\n\\nНе хвилюйтеся, ви можете прийняти їх в будь-який час, коли будете готові продовжити. Ми тут, щоб допомогти!\"\n            }\n        };\n\n        // Get URL parameters\n        function getUrlParams() {\n            const params = new URLSearchParams(window.location.search);\n            return {\n                lang: params.get('lang') || 'en',\n                username: params.get('username') || 'User',\n                user_id: params.get('user_id') || 'User'\n            };\n        }\n\n        // Initialize page\n        let currentLang = 'en';\n        let currentUsername = 'User';\n        let currentUserId = 'User';\n\n        function initializePage() {\n            const params = getUrlParams();\n            currentLang = params.lang || 'en';\n            currentUsername = params.username || 'User';\n            currentUserId = params.user_id || 'User';\n            \n            // Create particles\n            createParticles();\n            \n            // Load content\n            loadContent();\n            \n            // Hide loading screen\n            setTimeout(() => {\n                document.getElementById('loadingScreen').classList.add('hidden');\n            }, 2000);\n        }\n\n        // Create background diffused lights\n        function createParticles() {\n            const particlesContainer = document.getElementById('particles');\n            const lightColors = [\n                'rgba(230, 30, 133, 0.3)',\n                'rgba(255, 64, 129, 0.25)',\n                'rgba(156, 39, 176, 0.2)',\n                'rgba(103, 58, 183, 0.15)',\n                'rgba(63, 81, 181, 0.2)'\n            ];\n            \n            const sizeClasses = ['small', 'medium', 'large'];\n            \n            for (let i = 0; i < 8; i++) {\n                const light = document.createElement('div');\n                const sizeClass = sizeClasses[Math.floor(Math.random() * sizeClasses.length)];\n                light.className = `diffused-light ${sizeClass}`;\n                light.style.background = `radial-gradient(circle, ${lightColors[i % lightColors.length]}, transparent)`;\n                light.style.left = Math.random() * 100 + '%';\n                light.style.top = Math.random() * 100 + '%';\n                light.style.animationDelay = Math.random() * 20 + 's';\n                light.style.animationDuration = (20 + Math.random() * 10) + 's';\n                particlesContainer.appendChild(light);\n            }\n        }\n\n        // Load content based on language\n        function loadContent() {\n            const t = translations[currentLang] || translations['en'];\n            \n            // Update welcome message\n            const welcomeMessage = t.welcomeMessage.replace('${username}', currentUsername);\n            document.getElementById('welcomeMessage').textContent = welcomeMessage;\n            \n            // Update title and date\n            document.getElementById('termsTitle').textContent = t.termsTitle;\n            document.getElementById('lastUpdated').textContent = t.lastUpdated;\n            \n            // Update buttons\n            document.getElementById('acceptLabel').textContent = t.acceptLabel;\n            document.getElementById('declineLabel').textContent = t.declineLabel;\n            \n            // Build terms content\n            const termsContent = document.getElementById('termsContent');\n            termsContent.innerHTML = `\n                <div class=\"section\">\n                    <h3 class=\"section-title\">${t.objectTitle}</h3>\n                    <p class=\"section-text\">${t.objectText}</p>\n                </div>\n                <div class=\"section\">\n                    <h3 class=\"section-title\">${t.acceptanceTitle}</h3>\n                    <p class=\"section-text\">${t.acceptanceText}</p>\n                </div>\n                <div class=\"section\">\n                    <h3 class=\"section-title\">${t.responsibleUseTitle}</h3>\n                    <p class=\"section-text\">${t.responsibleUseText}</p>\n                </div>\n                <div class=\"section\">\n                    <h3 class=\"section-title\">${t.disclaimerTitle}</h3>\n                    <p class=\"section-text\">${t.disclaimerText}</p>\n                </div>\n                <div class=\"section\">\n                    <h3 class=\"section-title\">${t.prohibitionsTitle}</h3>\n                    <p class=\"section-text\">${t.prohibitionsText}</p>\n                </div>\n                <div class=\"section\">\n                    <h3 class=\"section-title\">${t.modificationsTitle}</h3>\n                    <p class=\"section-text\">${t.modificationsText}</p>\n                </div>\n                <div class=\"section\">\n                    <h3 class=\"section-title\">${t.jurisdictionTitle}</h3>\n                    <p class=\"section-text\">${t.jurisdictionText}</p>\n                </div>\n                <div class=\"section\">\n                    <h3 class=\"section-title\">${t.dataNoticeTitle}</h3>\n                    <p class=\"section-text\"><strong>${t.controllerTitle}</strong><br>${t.controllerText}</p>\n                    <p class=\"section-text\"><strong>${t.purposeTitle}</strong><br>${t.purposeText}</p>\n                    <p class=\"section-text\"><strong>${t.dataProcessedTitle}</strong><br>${t.dataProcessedText}</p>\n                    <p class=\"section-text\"><strong>${t.userRightsTitle}</strong><br>${t.userRightsText}</p>\n                    <p class=\"section-text\"><strong>${t.retentionTitle}</strong><br>${t.retentionText}</p>\n                    <p class=\"section-text\"><strong>${t.dataSharingTitle}</strong><br>${t.dataSharingText}</p>\n                    <p class=\"section-text\"><strong>${t.securityTitle}</strong><br>${t.securityText}</p>\n                </div>\n            `;\n        }\n\n        // Handle accept button\n        async function handleAccept() {\n            showSpinner();\n            disableButtons();\n            \n            try {\n                const response = await sendToWebhook(true);\n                hideSpinner();\n                showResponse(true, response);\n            } catch (error) {\n                hideSpinner();\n                console.error('Error:', error);\n                showResponse(true, null);\n            }\n        }\n\n        // Handle decline button\n        async function handleDecline() {\n            showSpinner();\n            disableButtons();\n            \n            try {\n                const response = await sendToWebhook(false);\n                hideSpinner();\n                showResponse(false, response);\n            } catch (error) {\n                hideSpinner();\n                console.error('Error:', error);\n                showResponse(false, null);\n            }\n        }\n\n        // Send data to webhook\n        async function sendToWebhook(accepted) {\n            const data = {\n                username: currentUsername,\n                lang: currentLang,\n                accepted: accepted,\n                timestamp: new Date().toISOString(),\n                userAgent: navigator.userAgent,\n                referrer: document.referrer\n            };\n            \n            // Add user_id to query parameters\n            const webhookUrl = `https://mumbai-sampling-conflicts-forest.trycloudflare.com/webhook/71a93ff3-2453-46c6-be4e-2865af10d1e5?user_id=${encodeURIComponent(currentUserId)}`;\n            \n            const response = await fetch(webhookUrl, {\n                method: 'POST',\n                headers: {\n                    'Content-Type': 'application/json',\n                },\n                body: JSON.stringify(data)\n            });\n            \n            if (!response.ok) {\n                throw new Error(`HTTP error! status: ${response.status}`);\n            }\n            \n            return await response.json();\n        }\n\n        // Show spinner\n        function showSpinner() {\n            document.getElementById('spinner').classList.add('show');\n        }\n\n        // Hide spinner\n        function hideSpinner() {\n            document.getElementById('spinner').classList.remove('show');\n        }\n\n        // Disable buttons\n        function disableButtons() {\n            document.getElementById('acceptBtn').disabled = true;\n            document.getElementById('declineBtn').disabled = true;\n        }\n\n        // Enable buttons\n        function enableButtons() {\n            document.getElementById('acceptBtn').disabled = false;\n            document.getElementById('declineBtn').disabled = false;\n        }\n\n        // Show response message\n        function showResponse(accepted, serverResponse) {\n            const t = translations[currentLang] || translations['en'];\n            const responseDiv = document.getElementById('responseMessage');\n            const titleElement = document.getElementById('responseTitle');\n            const textElement = document.getElementById('responseText');\n            \n            if (serverResponse && serverResponse.length > 0 && serverResponse[0].body) {\n                // Use webhook response\n                const webhookData = serverResponse[0].body;\n                titleElement.textContent = webhookData.username ? `¡Gracias ${webhookData.username}!` : '¡Gracias!';\n                \n                let responseMessage = '';\n                if (webhookData.accepted) {\n                    responseMessage = 'Tu aceptación ha sido confirmada. Ahora tienes acceso completo a unimgai.';\n                } else {\n                    responseMessage = 'Entendemos tu decisión. Puedes aceptar los términos en cualquier momento cuando estés listo.';\n                }\n                \n                textElement.innerHTML = responseMessage;\n            } else {\n                // Use default messages\n                if (accepted) {\n                    titleElement.textContent = t.acceptedTitle;\n                    const message = t.acceptedMessage.replace('${username}', currentUsername);\n                    textElement.innerHTML = message.replace(/\\n/g, '<br>');\n                } else {\n                    titleElement.textContent = t.declinedTitle;\n                    const message = t.declinedMessage.replace('${username}', currentUsername);\n                    textElement.innerHTML = message.replace(/\\n/g, '<br>');\n                }\n            }\n            \n            responseDiv.classList.add('show');\n        }\n\n        // Close app\n        function closeApp() {\n            // Try to close the window, if not possible, show a message\n            if (window.close) {\n                window.close();\n            } else {\n                // For mobile apps or when window.close() doesn't work\n                document.body.innerHTML = `\n                    <div style=\"display: flex; justify-content: center; align-items: center; height: 100vh; background: var(--bg-primary); color: var(--text-primary); text-align: center; padding: 20px;\">\n                        <div>\n                            <h2 style=\"color: var(--color-primary); margin-bottom: 20px;\">¡Gracias por usar unimgai!</h2>\n                            <p>Por favor, cierra esta ventana o regresa a Telegram.</p>\n                        </div>\n                    </div>\n                `;\n            }\n        }\n\n        // Initialize on page load\n        document.addEventListener('DOMContentLoaded', initializePage);\n    </script>\n</body>\n</html>\n","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[160,-48],"id":"0e659f07-ed05-48fc-bdf1-869f39d4abf3","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"If","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[]]},"Upsert row(s)":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"If":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook1":[{"json":{"headers":{"host":"mumbai-sampling-conflicts-forest.trycloudflare.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36","content-length":"255","accept":"*/*","accept-encoding":"gzip","accept-language":"es-ES,es;q=0.9","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"206.1.80.150","cf-ew-via":"15","cf-ipcountry":"CO","cf-ray":"9904898892604c1f-ORD","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"4e633b37-eb1a-4e38-bac1-a7418309a030","cf-worker":"trycloudflare.com","connection":"keep-alive","content-type":"application/json","origin":"null","priority":"u=1, i","sec-ch-ua":"\"Brave\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","sec-gpc":"1","x-forwarded-for":"206.1.80.150","x-forwarded-proto":"https"},"params":{},"query":{"user_id":"7528798576"},"body":{"username":"Alxx2025","lang":"es","accepted":true,"timestamp":"2025-10-18T02:17:04.764Z","userAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36","referrer":"https://web.telegram.org/"},"webhookUrl":"https://mumbai-sampling-conflicts-forest.trycloudflare.com/webhook/71a93ff3-2453-46c6-be4e-2865af10d1e5","executionMode":"production"}}],"Webhook":[{"json":{"headers":{"host":"mumbai-sampling-conflicts-forest.trycloudflare.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8","accept-encoding":"gzip","accept-language":"es-ES,es;q=0.9","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"206.1.80.150","cf-ew-via":"15","cf-ipcountry":"CO","cf-ray":"990401cde3144c2d-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"4e633b37-eb1a-4e38-bac1-a7418309a030","cf-worker":"trycloudflare.com","connection":"keep-alive","priority":"u=0, i","referer":"https://web.telegram.org/","sec-ch-ua":"\"Brave\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"iframe","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","sec-fetch-storage-access":"active","sec-fetch-user":"?1","sec-gpc":"1","upgrade-insecure-requests":"1","x-forwarded-for":"206.1.80.150","x-forwarded-proto":"https"},"params":{},"query":{"user_id":"852169805","username":"Tkeyfff","lang":"es","message_id":"231"},"body":{},"webhookUrl":"https://mumbai-sampling-conflicts-forest.trycloudflare.com/webhook/71a93ff3-2453-46c6-be4e-2865af10d1e5","executionMode":"production"}}]},"versionId":"e45dac61-179c-4b07-8331-4a32e804fec5","triggerCount":2,"shared":[{"createdAt":"2025-10-17T20:17:11.256Z","updatedAt":"2025-10-17T20:17:11.256Z","role":"workflow:owner","workflowId":"MPVSuBBbYaUPNmpZ","projectId":"j0ScW9j43X1fRnX4"}],"tags":[]}