unimgai-telegram-v2-UR3qN2YfoXx5mzO5.json
{"createdAt":"2025-10-16T23:04:18.699Z","updatedAt":"2025-10-20T17:26:33.000Z","id":"UR3qN2YfoXx5mzO5","name":"unimgai telegram v2","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{"download":false}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-624,-176],"id":"c53ae53c-9294-472c-aba9-9166fecf46d3","name":"Telegram Trigger","webhookId":"5a32a93b-c226-4bf6-a01a-97b8de7f1d1a","executeOnce":false,"credentials":{"telegramApi":{"id":"RLtHIAtvKXctIbUJ","name":"Telegram account"}}},{"parameters":{"operation":"rowExists","dataTableId":{"__rl":true,"value":"8oKrDcp5sczgB30J","mode":"list","cachedResultName":"User","cachedResultUrl":"/projects/j0ScW9j43X1fRnX4/datatables/8oKrDcp5sczgB30J"},"filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.message.from.id }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-176,-272],"id":"a45a0fe8-3568-4d99-83b4-92fe81e8ed51","name":"If row exists"},{"parameters":{"operation":"rowNotExists","dataTableId":{"__rl":true,"value":"8oKrDcp5sczgB30J","mode":"list","cachedResultName":"User","cachedResultUrl":"/projects/j0ScW9j43X1fRnX4/datatables/8oKrDcp5sczgB30J"},"filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.message.from.id }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-176,-32],"id":"cef8c934-8818-4b39-bf9f-2460fb3c16b9","name":"If row does not exist"},{"parameters":{"dataTableId":{"__rl":true,"value":"8oKrDcp5sczgB30J","mode":"list","cachedResultName":"User","cachedResultUrl":"/projects/j0ScW9j43X1fRnX4/datatables/8oKrDcp5sczgB30J"},"columns":{"mappingMode":"defineBelow","value":{"referrals_made":0,"user_id":"={{ $json.message.from.id }}","username":"={{ $json.message.from.username }}","name":"={{ $json.message.from.first_name }}","language":"={{ $json.message.from.language_code }}","last_upload_date":"2025-10-15T22:44:20","last_use_date":"2025-10-15T22:44:23","last_reward":"2025-10-15T22:44:24","terms_and_conditions":false,"referred_by":"={{ $('Telegram Trigger').item.json.message.text.replace('/start ref_', '') }}","gem_balance":0,"total_gems_spent":0,"total_gems_purchased":0,"total_gems_earned":10,"total_loaded":0},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"total_gems_earned","displayName":"total_gems_earned","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"total_gems_purchased","displayName":"total_gems_purchased","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"total_gems_spent","displayName":"total_gems_spent","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"gem_balance","displayName":"gem_balance","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"total_loaded","displayName":"total_loaded","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"referred_by","displayName":"referred_by","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"referrals_made","displayName":"referrals_made","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"last_upload_date","displayName":"last_upload_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"last_use_date","displayName":"last_use_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"last_reward","displayName":"last_reward","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"terms_and_conditions","displayName":"terms_and_conditions","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"blockade","displayName":"blockade","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[48,-32],"id":"5006ef48-1b0c-421e-8d64-db6cb04c9a50","name":"Insert row"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.message }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[0][0].text }}","additionalFields":{"web_app":{"url":"={{ $json.reply_markup.inline_keyboard[0][0].url }}"}}}]}},{}]},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[704,-80],"id":"9d217ae0-b871-465d-a5ce-6dbdc873642e","name":"Send a text message","webhookId":"51819ef7-36d6-430c-a804-df2e09a15f42","credentials":{"telegramApi":{"id":"RLtHIAtvKXctIbUJ","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"edb10563-32c2-4e83-b55d-b8615b8d4ddc","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,-80],"id":"a6272206-a8b7-4237-a295-bb39180e7e9f","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1152,16],"id":"14c532b5-a835-40fb-88f5-2699a494a0ef","name":"No Operation, do nothing"},{"parameters":{"jsCode":"// Obtener datos del usuario desde el mensaje de Telegram\nconst userId = $('Edit Fields').first().json.message.from.id;\nconst username = $('Edit Fields').first().json.message.from.username || 'unknown';\nconst lang = ($('Edit Fields').first().json.message.from.language_code || 'en').toLowerCase();\n\n// --- LÍNEA AÑADIDA ---\n// Obtener el ID del mensaje original desde el trigger\nconst messageId = $('Telegram Trigger').first().json.message.message_id;\n\n// Mensaje mejorado en varios idiomas\n// Nota: La lógica para decidir CUÁNDO enviar este mensaje (solo si no ha aceptado)\n// debe gestionarse con un nodo \"IF\" ANTES de este código.\nconst messages = {\n  en: {\n    text: `<b>📄 Action Required: Please Accept Our Terms</b>\\n\\nTo continue using unimgai, you must review and accept our <b>Terms & Conditions</b> and <b>Data Policy</b>. This ensures a safe and transparent experience for everyone.\\n\\n<i>⏳ This message will be deleted in one minute. You can send any message here to see it again.</i>\\n\\nTap the button below to proceed.`,\n    button: \"✅ Review & Accept Terms\"\n  },\n  es: {\n    text: `<b>📄 Acción Requerida: Acepta Nuestros Términos</b>\\n\\nPara continuar usando unimgai, es necesario que revises y aceptes nuestros <b>Términos y Condiciones</b> y el <b>Tratamiento de Datos</b>. Esto garantiza una experiencia segura y transparente para todos.\\n\\n<i>⏳ Este mensaje se eliminará en un minuto. Puedes enviar cualquier mensaje aquí para verlo de nuevo.</i>\\n\\nToca el botón de abajo para continuar.`,\n    button: \"✅ Revisar y Aceptar Términos\"\n  },\n  ru: {\n    text: `<b>📄 Требуется действие: примите наши условия</b>\\n\\nЧтобы продолжить использовать unimgai, вы должны ознакомиться и принять наши <b>Условия использования</b> и <b>Политику обработки данных</b>. Это обеспечивает безопасный и прозрачный опыт для всех.\\n\\n<i>⏳ Это сообщение будет удалено через минуту. Вы можете отправить любое сообщение, чтобы увидеть его снова.</i>\\n\\nНажмите кнопку ниже, чтобы продолжить.`,\n    button: \"✅ Принять условия\"\n  },\n  hi: {\n    text: `<b>📄 आवश्यक कार्रवाई: हमारे नियमों को स्वीकार करें</b>\\n\\nunimgai का उपयोग जारी रखने के लिए, आपको हमारे <b>नियम और शर्तों</b> और <b>डेटा नीति</b> की समीक्षा करनी होगी और स्वीकार करनी होगी। यह सभी के लिए एक सुरक्षित और पारदर्शी अनुभव सुनिश्चित करता है।\\n\\n<i>⏳ यह संदेश एक मिनट में हटा दिया जाएगा। आप इसे फिर से देखने के लिए यहाँ कोई भी संदेश भेज सकते हैं।</i>\\n\\nजारी रखने के लिए नीचे दिए गए बटन पर टैप करें।`,\n    button: \"✅ शर्तें स्वीकार करें\"\n  },\n  id: {\n    text: `<b>📄 Tindakan Diperlukan: Terima Syarat Kami</b>\\n\\nUntuk terus menggunakan unimgai, Anda harus meninjau dan menerima <b>Syarat & Ketentuan</b> serta <b>Kebijakan Data</b> kami. Ini memastikan pengalaman yang aman dan transparan untuk semua orang.\\n\\n<i>⏳ Pesan ini akan dihapus dalam satu menit. Anda dapat mengirim pesan apa pun di sini untuk melihatnya lagi.</i>\\n\\nKetuk tombol di bawah untuk melanjutkan.`,\n    button: \"✅ Setujui Syarat\"\n  },\n  pt: {\n    text: `<b>📄 Ação Necessária: Aceite Nossos Termos</b>\\n\\nPara continuar usando o unimgai, você deve revisar e aceitar nossos <b>Termos e Condições</b> e <b>Política de Dados</b>. Isso garante uma experiência segura e transparente para todos.\\n\\n<i>⏳ Esta mensagem será excluída em um minuto. Você pode enviar qualquer mensagem aqui para vê-la novamente.</i>\\n\\nToque no botão abaixo para prosseguir.`,\n    button: \"✅ Revisar e Aceitar\"\n  },\n  uk: {\n    text: `<b>📄 Необхідна дія: прийміть наші умови</b>\\n\\nЩоб продовжити використовувати unimgai, ви повинні переглянути та прийняти наші <b>Умови використання</b> та <b>Політику обробки даних</b>. Це забезпечує безпечний та прозорий досвід для всіх.\\n\\n<i>⏳ Це повідомлення буде видалено через хвилину. Ви можете надіслати будь-яке повідомлення, щоб побачити його знову.</i>\\n\\nНатисніть кнопку нижче, щоб продовжити.`,\n    button: \"✅ Прийняти умови\"\n  }\n};\n\n// Seleccionar idioma o usar inglés por defecto\nconst msg = messages[lang] || messages.en;\n\n// Construir URL con datos dinámicos\nconst baseUrl = \"https://mumbai-sampling-conflicts-forest.trycloudflare.com/webhook/71a93ff3-2453-46c6-be4e-2865af10d1e5\";\n\n// --- LÍNEA MODIFICADA ---\n// Se añade el 'message_id' a la URL\nconst dynamicUrl = `${baseUrl}?user_id=${userId}&username=${encodeURIComponent(username)}&lang=${lang}&message_id=${messageId}`;\n\n// Crear botón (inline keyboard de Telegram)\nconst replyMarkup = {\n  inline_keyboard: [[\n    { text: msg.button, url: dynamicUrl }\n  ]]\n};\n\n// Retornar a n8n\nreturn [{\n  json: {\n    message: msg.text,\n    parse_mode: \"HTML\",\n    reply_markup: replyMarkup\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-80],"id":"d64da65b-336d-400c-9339-ae756284b3f9","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"42325918-7e1e-4749-858a-895664309d89","name":"message.from.id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"db738afe-4c07-4261-89da-214232742935","name":"message.from.first_name","value":"={{ $json.message.from.first_name }}","type":"string"},{"id":"dd7ff3bb-891c-4f83-bc80-c41460c0361e","name":"message.from.username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"afd749b0-8f7f-4a3a-9380-1fe0bc048412","name":"message.from.language_code","value":"={{ $json.message.from.language_code }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-176],"id":"e5d894dd-c9bd-4946-b176-c08feaa2b39d","name":"Edit Fields"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"8oKrDcp5sczgB30J","mode":"list","cachedResultName":"User","cachedResultUrl":"/projects/j0ScW9j43X1fRnX4/datatables/8oKrDcp5sczgB30J"},"filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.message.from.id }}"},{"keyName":"username","keyValue":"={{ $json.message.from.username }}"},{"keyName":"name","keyValue":"={{ $json.message.from.first_name }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[272,-320],"id":"dd3b301b-e608-499f-a540-ff4a5d9d7202","name":"Get row(s)1"},{"parameters":{"jsCode":"// Obtener datos del usuario\nconst item = $input.first();\nconst lang = item.json.language || 'en';\nconst totalStars = item.json.total_loaded || 0;\n\n// Valores en USD\nconst starValue = 0.013; // USD por estrella\nconst imagePrice = 0.05; // USD por imagen\nconst videoPrice = 0.5;  // USD por video\n\n// Calcular saldo en USD\nconst balanceUSD = totalStars * starValue;\n\n// Calcular cuántas imágenes y videos puede crear\nconst availableImages = Math.floor(balanceUSD / imagePrice);\nconst availableVideos = Math.floor(balanceUSD / videoPrice);\n\n// Mensajes por idioma\nconst messages = {\n  en: `<b>👤 Account Information</b>\\n\\n<b>⭐ Total Stars:</b> ${totalStars}\\n<b>💵 Balance:</b> $${balanceUSD.toFixed(2)} USD\\n\\n<b><u>What you can create:</u></b>\\n🖼 <b>Images:</b> ${availableImages} images available\\n🎬 <b>Videos:</b> ${availableVideos} videos available\\n\\n<i>💡 Each image costs $${imagePrice} (≈ ${Math.ceil(imagePrice / starValue)} stars)</i>\\n<i>💡 Each video costs $${videoPrice} (≈ ${Math.ceil(videoPrice / starValue)} stars)</i>`,\n  \n  es: `<b>👤 Información de Cuenta</b>\\n\\n<b>⭐ Estrellas Totales:</b> ${totalStars}\\n<b>💵 Saldo:</b> $${balanceUSD.toFixed(2)} USD\\n\\n<b><u>Lo que puedes crear:</u></b>\\n🖼 <b>Imágenes:</b> ${availableImages} imágenes disponibles\\n🎬 <b>Videos:</b> ${availableVideos} videos disponibles\\n\\n<i>💡 Cada imagen cuesta $${imagePrice} (≈ ${Math.ceil(imagePrice / starValue)} estrellas)</i>\\n<i>💡 Cada video cuesta $${videoPrice} (≈ ${Math.ceil(videoPrice / starValue)} estrellas)</i>`,\n  \n  ru: `<b>👤 Информация об аккаунте</b>\\n\\n<b>⭐ Всего звёзд:</b> ${totalStars}\\n<b>💵 Баланс:</b> $${balanceUSD.toFixed(2)} USD\\n\\n<b><u>Что ты можешь создать:</u></b>\\n🖼 <b>Изображения:</b> ${availableImages} изображений доступно\\n🎬 <b>Видео:</b> ${availableVideos} видео доступно\\n\\n<i>💡 Каждое изображение стоит $${imagePrice} (≈ ${Math.ceil(imagePrice / starValue)} звёзд)</i>\\n<i>💡 Каждое видео стоит $${videoPrice} (≈ ${Math.ceil(videoPrice / starValue)} звёзд)</i>`,\n  \n  ar: `<b>👤 معلومات الحساب</b>\\n\\n<b>⭐ إجمالي النجوم:</b> ${totalStars}\\n<b>💵 الرصيد:</b> $${balanceUSD.toFixed(2)} USD\\n\\n<b><u>ما يمكنك إنشاؤه:</u></b>\\n🖼 <b>الصور:</b> ${availableImages} صورة متاحة\\n🎬 <b>الفيديو:</b> ${availableVideos} فيديو متاح\\n\\n<i>💡 كل صورة تكلف $${imagePrice} (≈ ${Math.ceil(imagePrice / starValue)} نجوم)</i>\\n<i>💡 كل فيديو يكلف $${videoPrice} (≈ ${Math.ceil(videoPrice / starValue)} نجوم)</i>`,\n  \n  tr: `<b>👤 Hesap Bilgileri</b>\\n\\n<b>⭐ Toplam Yıldız:</b> ${totalStars}\\n<b>💵 Bakiye:</b> $${balanceUSD.toFixed(2)} USD\\n\\n<b><u>Neler oluşturabilirsin:</u></b>\\n🖼 <b>Görseller:</b> ${availableImages} görsel mevcut\\n🎬 <b>Videolar:</b> ${availableVideos} video mevcut\\n\\n<i>💡 Her görsel $${imagePrice} (≈ ${Math.ceil(imagePrice / starValue)} yıldız)</i>\\n<i>💡 Her video $${videoPrice} (≈ ${Math.ceil(videoPrice / starValue)} yıldız)</i>`,\n  \n  id: `<b>👤 Informasi Akun</b>\\n\\n<b>⭐ Total Bintang:</b> ${totalStars}\\n<b>💵 Saldo:</b> $${balanceUSD.toFixed(2)} USD\\n\\n<b><u>Yang bisa kamu buat:</u></b>\\n🖼 <b>Gambar:</b> ${availableImages} gambar tersedia\\n🎬 <b>Video:</b> ${availableVideos} video tersedia\\n\\n<i>💡 Setiap gambar seharga $${imagePrice} (≈ ${Math.ceil(imagePrice / starValue)} bintang)</i>\\n<i>💡 Setiap video seharga $${videoPrice} (≈ ${Math.ceil(videoPrice / starValue)} bintang)</i>`,\n};\n\n// Escoger mensaje según idioma\nconst message = messages[lang] || messages['en'];\n\n// Retornar datos\nreturn [{\n  json: {\n    language: lang,\n    totalStars,\n    balanceUSD: parseFloat(balanceUSD.toFixed(2)),\n    availableImages,\n    availableVideos,\n    message,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-320],"id":"52dd72dd-7c44-45f1-b790-283a036dc802","name":"Code in JavaScript2"},{"parameters":{"chatId":"={{ $('Edit Fields').item.json.message.from.id }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,-320],"id":"f77086d8-e3b4-419a-b548-fb0e5b244f97","name":"Send a text message2","webhookId":"d9bffa9f-fb4c-41eb-959e-09f1fd81e61c","credentials":{"telegramApi":{"id":"RLtHIAtvKXctIbUJ","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7dfc30c-3e8a-4e51-b757-74b6b8f2290a","leftValue":"={{ $json.message.text }}","rightValue":"/user","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,-272],"id":"df64303d-ffcb-42d2-b32f-56eeb77ca680","name":"If user accept send welcome massage"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1152,-176],"id":"7df7d8ff-8d65-4761-83d8-8e4a4e2b2e79","name":"Wait","webhookId":"58cd5b78-6026-44b1-a59a-8d0286bdb061"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('If1').item.json.result.chat.id }}","messageId":"={{ $('Send a text message').item.json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1376,-176],"id":"fa7aa8d8-5d16-4574-95dc-3b009576f8d7","name":"Delete a chat message","webhookId":"7a98e080-08d6-4604-9b8f-43a306aa68b9","credentials":{"telegramApi":{"id":"RLtHIAtvKXctIbUJ","name":"Telegram account"}}},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"8oKrDcp5sczgB30J","mode":"list","cachedResultName":"User","cachedResultUrl":"/projects/j0ScW9j43X1fRnX4/datatables/8oKrDcp5sczgB30J"},"filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.user_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.user_id }}","total_loaded":0,"referrals_made":"={{ $json.referrals_made + 1 }}","gem_balance":0,"total_gems_spent":0,"total_gems_purchased":0,"total_gems_earned":"={{ $json.total_gems_earned + 10 }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"total_gems_earned","displayName":"total_gems_earned","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"total_gems_purchased","displayName":"total_gems_purchased","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"total_gems_spent","displayName":"total_gems_spent","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"gem_balance","displayName":"gem_balance","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"total_loaded","displayName":"total_loaded","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"referred_by","displayName":"referred_by","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"referrals_made","displayName":"referrals_made","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"last_upload_date","displayName":"last_upload_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"last_use_date","displayName":"last_use_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"last_reward","displayName":"last_reward","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"terms_and_conditions","displayName":"terms_and_conditions","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"blockade","displayName":"blockade","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1824,-176],"id":"b51152d5-8474-4e7e-b6dd-880c4dba6e4b","name":"Upsert row(s)"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"8oKrDcp5sczgB30J","mode":"list","cachedResultName":"User","cachedResultUrl":"/projects/j0ScW9j43X1fRnX4/datatables/8oKrDcp5sczgB30J"},"filters":{"conditions":[{"keyName":"username","keyValue":"={{ $('Telegram Trigger').item.json.message.text.replace('/start ref_', '') }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1600,-176],"id":"f7da1751-b987-49de-ab72-8470b9d610df","name":"Get row(s)"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"mode":"list","value":""},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[256,-32],"id":"4fda2b56-ea52-4c36-a483-72a87c97dae0","name":"Upsert row(s)1"}],"connections":{"If row does not exist":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Upsert row(s)1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If row exists","type":"main","index":0},{"node":"If row does not exist","type":"main","index":0}]]},"Get row(s)1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"If row exists":{"main":[[{"node":"If user accept send welcome massage","type":"main","index":0}]]},"If user accept send welcome massage":{"main":[[{"node":"Get row(s)1","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Delete a chat message":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Delete a chat message","type":"main","index":0}]]},"Upsert row(s)1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":551730778,"message":{"message_id":162,"from":{"id":852169805,"is_bot":false,"first_name":"N","username":"Tkeyfff","language_code":"es"},"chat":{"id":852169805,"first_name":"N","username":"Tkeyfff","type":"private"},"date":1760720511,"text":"/start ref_Alxx2025","entities":[{"offset":0,"length":6,"type":"bot_command"}]}}}]},"versionId":"8175dceb-692b-48c2-8123-b8881f5d8a14","triggerCount":1,"shared":[{"createdAt":"2025-10-16T23:04:18.705Z","updatedAt":"2025-10-16T23:04:18.705Z","role":"workflow:owner","workflowId":"UR3qN2YfoXx5mzO5","projectId":"j0ScW9j43X1fRnX4"}],"tags":[{"createdAt":"2025-10-16T02:53:29.528Z","updatedAt":"2025-10-16T02:53:29.528Z","id":"IzGuv7pXIwpiJAEL","name":"Unimgai"}]}